[2019-03-17 14:31] caulagi commented on #294
Yes, `capture_message` is not reported as having failed in the logs, when the lambda was not able to connect to internet.

However, this works after I fixed my network issue. Thanks for the help :)

[code]

[2019-03-17 14:31] #294 closed

[2019-03-18 16:15] untitaker commented on #221
@nickbaum amazing. I thought this would parse JSON as well.

[2019-03-18 20:49] #221 closed

[2019-03-18 21:51] nickbaum commented on #221
🙌🏻 Thanks!

[2019-03-19 22:21] #207 closed

[2019-03-19 22:26] untitaker commented on #207
This should be fixed in the next release. It recently became clear how inconveniencing this issue is for reading events. Apologies for the wait.

btw I believe there's the chance that a few of you encounter concurrency issues entirely unrelated to this issue. A common problem is that [`gevent.monkey`](http://www.gevent.org/api/gevent.monkey.html) is currently needed to avoid request data "leaking"

[2019-03-19 22:44] #285 closed

[2019-03-20 09:06] untitaker commented on #276
Damn I forgot about this

[2019-03-20 09:28] untitaker commented on #276
@nickbaum just as a quick update, I think there's a serverside bug here. I'm not sure what happens here, particularly why the Cookie header disappears. There seems to be some truncation going on with your cookies map, though I am not sure either why the server even thinks it's too large.

[2019-03-20 09:57] untitaker commented on #291
@rouge8 @crepererum can you clarify if you want this because of celery or something else? After creating this issue I discovered that Celery issues need to be tackled separately.

[2019-03-20 10:51] crepererum commented on #291
Dask is able to use local processes as a local backend, and it would be really helpful to at least get the queues flushed properly (`atexit`). But maybe a direct dask (and even distributed) integration would be more helpful.

[2019-03-20 10:53] untitaker commented on #291
@crepererum could you open a new issue wrt Dask support? The more I think about this (multiprocessing) support the more I thikn it's an A/B problem.

[2019-03-20 11:18] crepererum opened #299 "Dask and Distributed Support"
(continued from #291)

It would be nice if sentry would support [dask](https://docs.dask.org/) and [distributed](https://distributed.readthedocs.io/). Namely, the following features should be supported:

1. sentry sdk initialized on the client should be carried over to the workers
2. flushing the event queue should work (e.g. on subprocess shutdown for local executors or on worker shutdown for dis

[2019-03-20 11:21] untitaker commented on #299
We don't support this for any task queue. I'm not sure if it's a good idea because I don't quite know how the implementation would work. We also don't transfer scopes from clients to workers.

[2019-03-20 11:53] crepererum commented on #299
OK. Could than at least the integration add some context to the events emitted by the workers? (like computation ID or even which part of the computation graph is currently executed)

[2019-03-20 11:57] untitaker commented on #299
Sure. I don't want to discard the idea of carrying over scopes if it makes sense, but carrying over SDK config is probably not expected.

I'm open to all kinds of ideas, but they should be non-invasive in the sense that we shouldn't just add new arguments to a job just because we need them on the other machine.

[2019-03-20 20:21] untitaker commented on #285
@okomarov 0.7.7 is released, could you check if it works now for you?

[2019-03-21 07:49] rouge8 commented on #291
I was reviewing the open issues while migrating away from the old raven library. :) We have some code that uses multiprocessing, but I haven't compared behavior with raven and sentry_sdk or anything yet.

[2019-03-21 23:34] nickbaum commented on #276
Got it, thanks for looking into it. Note that the cookie header is quite large (3555 characters).

Is there someone we could loop in from the server side to troubleshoot?

[2019-03-22 13:14] Keramblock commented on #228
Have same issue

[2019-03-22 13:16] untitaker commented on #228
I don't understand the issue. Could somebody make a demo app and describe expected behavior? I think that's the easiest way to communicate this at this point.

[2019-03-22 13:43] md1023 commented on #228
You don't want your structured logs in Sentry, you'll get overwhelmed. You want unhandled exceptions there. Adjust your Sentry to send log events as sentry breadcrumbs instead of sentry events by setting `event_level=None`.

[2019-03-22 14:31] Keramblock commented on #228
This is how sentry is integrated right now:
`
sentry_sdk.init(
    SENTRY_DSN
)
`
This is how error looks like in console:

`
2019-03-22T13:21:56 [error    ] Got an error, helm command:
['helm', 'upgrade', 'ds-u-auth-mkirpichev', '--install', '--wait', '--force', '--recreate-pods', '--timeout', '900', '--debug', '/opt/helm/u-auth', '-f', '/tmp/tmpvwu39xz5'], helm output:
[debug] Created tunnel usi

[2019-03-22 14:38] Keramblock commented on #228
So the first problem - it hard to understand this text.
Second problem - every time you getting an error - sentry thinks, that it is a new one, even if it not.

Seems, that I am doing it wrong, but for now I don't understanding where exactly I mistaken.

[2019-03-22 15:47] jredrejo opened #301 "Wrong python version in the docs"
https://docs.sentry.io/platforms/python/ claims that

However, in https://github.com/getsentry/sentry-python/blob/master/sentry_sdk/integrations/aiohttp.py  `async` is used several times

async is not available until python >= 3.5

[2019-03-22 15:53] untitaker commented on #301
The version requirements for integrations are documented separately:
https://docs.sentry.io/platforms/python/aiohttp/

We should add this caveat to the sentence you're referring to

On Fri, Mar 22, 2019, 16:47 José L. Redrejo Rodríguez <
notifications@github.com> wrote:

[2019-03-22 20:02] okomarov commented on #285
@untitaker It works in dev and should work in production (if not, will get back). Thanks for fixing this so quickly!

[2019-03-25 09:38] drnextgis opened #303 "Integration with Pyramid tweens"
The common case in Pyramid is to handle exception with [tweens](https://docs.pylonsproject.org/projects/pyramid/en/latest/glossary.html#term-tween) that seat atop of main Pyramid handling function. With a current integration [approach](https://docs.sentry.io/platforms/python/pyramid/) each exception occurring in main function goes to sentry. Is there a way to track just those errors that were not

[2019-03-25 09:43] untitaker commented on #303
As a quick fix you can ignore errors by class with https://docs.sentry.io/error-reporting/configuration/filtering/?platform=python#before-send

As far as I can tell tweens are just like errorhandlers in Flask. In Flask, we have the following behavior:

* If you register an errorhandler for the exception (`@app.errorhandler(Exception)`), it will swallow the exception and it will not report to Sentr

[2019-03-26 10:49] untitaker commented on #290
Closing due to inactivity and lack of information

[2019-03-26 10:49] #290 closed

[2019-03-26 10:51] untitaker commented on #276
Just as an update, I have been looking into this and was unable to reproduce this bug with https://github.com/getsentry/semaphore directly (our event parsing library).

[2019-03-26 22:33] rouge8 commented on #303
We're seeing a similar issue where exception views for 4xx exceptions are now being sent to Sentry, e.g.:

[code]

It looks like the current Pyramid integration is recording the exception before the handler is even called. 😞

[2019-03-27 03:49] drnextgis commented on #303
@untitaker what do you think about implementing Pyramid integration as a tween in a same way it is done for [pyramid_exclog](https://docs.pylonsproject.org/projects/pyramid_exclog/en/latest/#explicit-tween-configuration)?

[2019-03-27 03:54] rouge8 commented on #303
Or maybe making the `Router.handle_request` portion of the Pyramid integration optional, so we can explicitly log to Sentry in our exception handling views. 😕

[2019-03-27 04:05] drnextgis commented on #303
@rouge8 current Pyramid integration lives inside a main handler but I think it should be placed above `pyramid.tweens.excview_tween_factory`. In that case you don't need to record exceptions in exception views explicitly.

[2019-03-27 10:43] crepererum opened #308 "Clarify proxy fallback behavior"
I am currently working on #178 and extended the tests for the proxy selection mechanism, especially when the env variables like `HTTP_PROXY` and `HTTPS_PROXY` are present. One thing that I've observed is the fallback behavior:

- no ENV vars: HTTPS DSNs can fallback to HTTP proxies (see [test](https://github.com/getsentry/sentry-python/blob/master/tests/test_client.py#L47-L48))
- only `HTTP_PROXY`

[2019-03-27 11:00] untitaker commented on #308
The `http_proxy` envvar is supposed to be used for HTTPS DSNs (i.e. exact same behavior as with client options in code), so this is a bug.

I'm very grateful that you're working on this! It's been a pain point for many people but it's unclear how to fix it without writing a lot of custom code.

[2019-03-27 15:40] mlennon-lumere commented on #201
Fixed in #203

[2019-03-27 15:40] #201 closed

[2019-03-27 18:40] nickbaum commented on #276
Thanks for the update. Anything I can do on my side to help troubleshoot?

[2019-03-27 21:20] untitaker commented on #303
@drnextgis I don't want to make the user explicitly wire up the pyramid integration. I don't understand your suggestion in the sense that I don't know how it would affect behavior. We still have the problem that we don't know which exceptions are "handled" and which are "suppressed".

To be clear, I am worried about a catch-all exception view:

[code]

Is the intention to make a default 500 error

[2019-03-28 10:51] untitaker commented on #276
I'm not sure. I also tried to send your event (with the right amount of
characters in each field) through a testproject and couldn't replicate this
behavior

On Wed, Mar 27, 2019 at 7:40 PM Nick Baum <notifications@github.com> wrote:

[2019-03-28 18:11] odannyc commented on #228
I have the same issue.
I have structlog outputting JSON formatted logs (for kibana/elasticsearch to understand), unfortunately now every event/breadcrumb in Sentry is just a message with a stringified JSON blob. The solution I think for this is pretty simple... Before sending the event to Sentry, I want to try and deserialize the JSON and set the correct fields in the Sentry event/breadcrumbs...
I

[2019-03-28 20:39] reparadocs opened #310 "Sentry doesn't pick up errors via Slack Webhook"
I'm using Django and when I cURL my endpoint, the exception is raised and logged in Sentry successfully. However, when Slack hits the endpoint through its webhook system, it somehow doesn't get logged in Sentry. I know it's still being hit because the 500 response still shows up in my logs and the error gets logged correctly in rollbar.

Here's the code:

[code]

[2019-03-29 10:45] Anton-Baton commented on #24
Hi, I've also faced this issue when using DRF 3.9.0 and sentry-sdk 0.7.8 (0.7.4 also has this). With new unified sdk request bodies aren't sent to Sentry UI.

I was able to track it down to the place where issue occurs.

When extracting data from request, sdk tries to get body [here](https://github.com/getsentry/sentry-python/blob/master/sentry_sdk/integrations/_wsgi_common.py#L97), but it's impos

[2019-03-29 20:37] untitaker commented on #310
Could you initialize the SDK with `debug=True` and see if there's anything relevant?

[2019-03-29 21:04] untitaker commented on #228
@odannyc I am planning to look at this soon. Ideally it should work without the user doing anything

[2019-03-29 21:10] odannyc commented on #228
@untitaker
Thank you!

I actually got it sort of working now. Before I was using the `structlog` format... Which basically has a `event` key which contains the message. Now I changed it so `[json-python-logger](https://github.com/madzak/python-json-logger)` takes care of outputting the json - which has the message in a `message` key. This now displays correctly in Sentry BUT doesn't display the ex

[2019-03-31 14:30] kunal665 opened #311 "while integrating sentry-sdk with django unable to get lineno,Process,Thread information in Sentry Log"
I was trying to get lineno,thread and process information in Sentry log but it looks like sentry_init is not putting the log as per formatters specified in Logging.dict.Config

[2019-03-31 22:41] saifelse commented on #198
@untitaker : Finally picking this backup 😅, and thanks for the suggestion.

I wanted to double-check my understanding of your workaround. The gist of it is that there will be _three_ clients configured: two of which are configured just to have their DSN set properly so that we indirectly instantiate two HTTP transports, and then one more that is automatically configured via sentry_sdk.init which i

[2019-04-01 10:10] SEKIRO-J opened #312 "Work pool"
I'm using sentry on top of tornado.
I notice that in old sdk (raven), the action of sending http request to sentry server is a coroutine that could be put in tornado.ioloop.
However, in the new sdk, the implementation is using multi-threading to send request.

Is this a intended design?
I'm concerning that multi-threading is heavier than coroutine when do context-switch.

[2019-04-01 10:17] untitaker commented on #312
@SEKIRO-J We wanted to avoid making the SDK depend on the code that it monitors (if tornado crashes before the ioloop starts, the old SDK will not send any data), and also because one implementation of the transport is easier to debug and maintain than multiple. The assumption is that the average application does not send so many errors.

We're not 100% convinced by this decision but it was a cons

[2019-04-01 10:21] untitaker commented on #312
To clarify, if this slows down your application performance it's unacceptable.

[2019-04-01 11:29] akx opened #313 "Incorrect signature for capture_exception"
The type hint for `capture_exception()` implies only `ValueError`s can be passed in, which causes a type check warning in IDEs such as PyCharm when you pass in a non-ValueError exception.

https://github.com/getsentry/sentry-python/blob/62e3a647e5787957dcabc889bce5d53538dc423e/sentry_sdk/api.py#L53-L54

I suppose the hint should be more like

[code]

[2019-04-01 12:09] untitaker commented on #311
@kunal665 please give me an example app to reproduce, I don't understand your expectations around how the API should work.

[2019-04-01 12:10] untitaker commented on #313
You're completely right. The type hints were partially generated using [pyannotate](https://github.com/dropbox/pyannotate) and are therefore still quite a bit too restrictive. Do you want to make a PR? Otherwise I will fix it soon (tm).

[2019-04-01 12:24] untitaker commented on #280
@malexmave I just got reminded by the weekly report that your Sentry instance sends: Is this still an issue for you?

[2019-04-01 12:33] malexmave commented on #280
Since I removed the v6 record again after this test, currently everything runs fine, but since I did not update anything, I would assume it would still break again if I re-added the AAAA record. As I said, I'd be happy to test any patches that make the fallback to IPv4 more robust / improve the logging of errors in this setup.

[2019-04-01 12:41] untitaker commented on #280
@malexmave cool. fwiw I don't have a way to repro this... I tried this on uberspace.de which supposedly has ipv6 support all the way, but didn't find issues.

[2019-04-01 12:42] untitaker commented on #280
Do you mind if I just close this? It seems not very actionable to me in its current state. A missing error during debug mode would be a bug but then I don't know how to reproduce the part where urllib3 swallows all errors.

[2019-04-01 13:27] malexmave commented on #280
The setup is a bit more complicated than simple v6 support. The situation is the following: Sentry is running in a VM in a NATted network behind a firewall. The firewall uses HAProxy to terminate TLS connections and forward the contents to the correct VM. If connections come from outside the VM NAT network, they work fine on v4 and v6. If they come from a different VM inside the NATted network, th

[2019-04-01 13:29] malexmave commented on #280
If you want to play with this specific setup, I could probably get you a VM with SSH access. If you think that this is too specific to warrant your time, or if you suspect that the error lies in urllib and not sentry, I'd also be fine with closing this issue without a fix.

[2019-04-01 13:33] untitaker commented on #280
I'm trying to gauge how many people are affected by this issue. Let's keep this open for now.

One last question: Could you try installing different versions of urllib3? You mentioned earlier that requests works fine. Does this also mean that it behaves/errors as expected when neither IPv6 nor IPv4 work in your specific (mis)configuration? I believe there might be discrepancies between the version

[2019-04-01 15:07] goodspark commented on #303
The intent of catch-all exceptions views are to have a custom 500 error page that doesn't mismatch the design of the site and/or conforms to API error schemas.

When a pyramid user has defined any exception-based view, I think it's reasonable to expect them to do all error handling themselves, including error reporting.

This seems to be the only reasonable alternative at the moment. I'd rather no

[2019-04-01 15:27] YPCrumble opened #314 "Getting an infinite error loop with new python sdk"
Hi - I just installed the latest python SDK (0.7.8) and began receiving some kind of infinite error loop in my Sentry logs that's also impacting user experience. Here's a sample of what I see:

[code]

...just an infinite loop like the above. This was on 0.7.8, and also happened on 0.7.6. I'm now trying 0.7.9. I'm sure it's due to the new Sentry configuration somehow because this is the only chang

[2019-04-01 15:29] YPCrumble commented on #314
This is using NGINX, gunicorn 19.9.0, gevent 1.4.0 in case that helps.

[2019-04-01 15:29] untitaker commented on #314
@YPCrumble I need two things from you:

* which framework is this?
* do you see anything when initializing the SDK with `debug=True`?

[2019-04-01 15:34] YPCrumble commented on #314
1. Django Framework
2. Will try that next, thank you!

[2019-04-02 08:45] untitaker commented on #268
FYI we're going to do some general work on trimming local variables etc in the SDK in the next two weeks

[2019-04-03 00:11] wiltzius opened #316 "get locals on all stack frames"
I find the with_locals feature really useful. It helps give the data context needed to spot issues quickly in many cases.

Unfortunately, we only seem to get locals for the first ~12 and last ~12 stack frames in our Python project. Because almost all of that is framework code in both cases (request handling up top, error handling at the bottom), we rarely get the locals relevant to our business lo

[2019-04-03 06:44] SEKIRO-J commented on #312
Thanks, that explains my questions.

[2019-04-03 14:19] alastairparagas opened #318 "?verify_ssl=0 no op"
The old Raven Sentry SDK used to turn off SSL verification when those query params are passed to the DSN. However, it seems that sentry-python doesn't. Is there anyway this can be enabled/integrated?

[2019-04-03 15:37] untitaker commented on #318
hi, query parameters are not supported for configuration anymore. You still have the `ca_certs` kwarg to `init` with which you can set the ca bundle to something, but we don't allow you to turn off ssl cert verification.

[2019-04-03 17:39] crccheck commented on #149
Sorry for the tangent but this came up in a Google search

It's not in the documentation, but to get the same effect as ignore_errors, you instead of `return event`, make your `before_send` do `return None`

https://github.com/getsentry/sentry-python/blob/d25fba854956f61d67164f4056f26e58420851a4/sentry_sdk/client.py#L152-L155

[2019-04-03 18:18] untitaker commented on #316
@wiltzius you can set `in_app_include` and `in_app_exclude` to mark specific frames as part of your application vs not being part: https://docs.sentry.io/error-reporting/configuration/?platform=python#in-app-include

E.g. if your app is in a python module `foobar`, set `init(in_app_include=["foobar"])`.

The server should then start trimming framework frames first.

Which framework are you using?

[2019-04-03 18:36] untitaker commented on #268
To my surprise we didn't do any trimming on breadcrumbs/sql queries, so that was a low-hanging fruit: #319

@all, please report which parts of events are growing out of control.

[2019-04-03 18:37] #318 closed

[2019-04-03 18:37] #316 closed

[2019-04-03 18:37] untitaker opened #320 "Set in_app in integrations"
In many integrations we currently don't set in_app, but we should because it affects trimming. See #316

[2019-04-03 20:59] #313 closed

[2019-04-03 21:34] untitaker commented on #312
That's great to hear!

[2019-04-03 21:34] #312 closed

[2019-04-03 21:40] reparadocs commented on #310
`[sentry] ERROR: Internal error in sentry_sdk
Apr 03 14:39:22 trestle-shrine app/web.1: Traceback (most recent call last):
Apr 03 14:39:22 trestle-shrine app/web.1:   File "/app/.heroku/python/lib/python3.7/site-packages/sentry_sdk/utils.py", line 43, in capture_internal_exceptions
Apr 03 14:39:22 trestle-shrine app/web.1:     yield
Apr 03 14:39:22 trestle-shrine app/web.1:   File "/app/.heroku/py

[2019-04-03 21:44] untitaker commented on #310
Okay, I will release a version of the SDK that also logs the server's response body. I believe the event payload is getting too big.

[2019-04-03 21:53] reparadocs commented on #310
I think the problem is Sentry is somehow receiving a 403 from somewhere - the actual response from the server is a 500 error :/

[2019-04-03 21:54] untitaker commented on #310
Yes, the 403 I am talking about occurs when the SDK sends the error to Sentry. Sentry responds with a 403, and I believe this is because the error payload is too big.

[2019-04-03 21:54] untitaker commented on #310
I will release a new version soon.

[2019-04-03 21:55] reparadocs commented on #310
Ah ok - appreciate it!

[2019-04-04 21:47] wiltzius commented on #316
Cool, thank you. in_app_include is just what we need.

The framework in question sorta depends on the bug. We use Pyramid as a web framework and Celery as the task runner, so those are at the top of the stack, but at the bottom sometimes its a deep SqlAlchemy stack trace or Python logging framework.

We aren't on the latest version so I'll update it when I modify in_app_include and see if the auto

[2019-04-04 21:58] untitaker commented on #316
Sorry for the confusion: The latest version doesn't do it any better. I only created a follow-up ticket to do this at some point.

[2019-04-05 06:17] wiltzius commented on #316
I'm still having trouble with this. I upgraded to the unified client,
 but in_app_excludes doesn't seem to work unless you also set in_app_includes. I eventually tracked it down to here:

https://github.com/getsentry/sentry-python/blob/3735cb5fb155c24dadacd53bf0e7ce8b1a3cd34f/sentry_sdk/utils.py#L610

the fallback for any_in_app over-triggers if you don't have in_app_includes set to anything (sinc

[2019-04-05 13:18] untitaker commented on #316
The fact that `init(in_app_exclude=[...])` doesn't work is definetly a bug. I will make a note in #320, thanks for reporting. I will prioritize fixing this in the next week because I can't think of a workaround you could use right now.

I would set `in_app_include` regardless. I wonder if you could hack something together where you discover installed packages at runtime and filter them by author i

[2019-04-05 13:46] untitaker commented on #24
@cwmoo740 I'm very sorry I dropped the ball on this. Your investigation is very complete and I will fix this in the next release.

[2019-04-05 16:19] untitaker commented on #228
I did some investigation on this now and I still don't see how Raven could've ever worked better than sentry-sdk.

## Processors concept conflates too much responsibilities
The fundamental problem I see here is that structlog's processors are not clearly separated into modifying semantics of the event dictionary, vs modifying how the event is printed.

* A trivial example is `PositionalArgumentsFo

[2019-04-05 18:32] wiltzius commented on #316
Thanks for filing the bug.

It's actually even a little bit more confusing, I think. You need to set both the `in_app_exclude` _and_ the `in_app_include` for it to have any effect. If you set only one, the rest default to the same value (it seems).

I was able to use `setuptools.find_packages` to get a list of the packages we care about, so that handles the include issue I mentioned above.

[2019-04-05 18:33] wiltzius commented on #316
I think fixing this is as simple as adding a tiny bit of logic in the line I mentioned above to default stack frames to the "other" value if only one of in_app_exclude or in_app_include is set.

[2019-04-05 20:06] untitaker commented on #316
Yeah, I have a PR open and hope to make a release soon. Thanks for taking
the time to investigate this yourself.

On Fri, Apr 5, 2019, 20:33 Tom Wiltzius <notifications@github.com> wrote:

[2019-04-05 20:37] wiltzius opened #324 "How to get "extra" information from exceptions into events"
I'm trying to replicate the setup we had with the old Raven client and I'm running into a few conflicting issues.

Previously, we were relying on a subclass of the `SentryHandler` and adding that to our logging config. We'd then simply `logging.error` exceptions from our web app, and inside the handler we'd use [http_context](https://raven.readthedocs.io/en/stable/api.html#raven.Client.http_contex

[2019-04-05 20:39] untitaker commented on #324
If you want to run special logic, the original exception is still available in `before_send` as `hint['exc_info']`. Otherwise I would recommend calling `scope.set_extra` in your request handler/view: https://docs.sentry.io/enriching-error-data/context/?platform=python#extra-context

[2019-04-05 22:59] untitaker commented on #324
The intent was mostly to minimize API surface, not to prevent extensibility just for the sake of it. I'm not entirely sure what you're trying to achieve but I believe `before_send` should make it possible in principle (although probably not very ergonomically, so there's room for improvement there).

[2019-04-05 23:11] #24 closed

[2019-04-05 23:48] untitaker commented on #310
@reparadocs could you upgrade to 0.7.10 and check the debug log again?

[2019-04-05 23:49] untitaker commented on #24
0.7.10 was released which should fix this

[2019-04-05 23:51] untitaker commented on #316
@wiltzius 0.7.10 should allow you to use `in_app_exclude` properly. #320 is still open for doing this for most frameworks automatically.

[2019-04-05 23:52] untitaker commented on #320
It would probably make sense to think of new heuristics to discover packages of "the current app" in this context. For example based on whether the module's fs path is within current working directory.

[2019-04-06 00:17] wiltzius commented on #324
Yeah, I toyed around with the extra context thing. I eventually realized that to handle logging and exceptions in a bunch of different contexts it would be much easier to just consolidate everything to minimize code impact, but maximize use of the Sentry utilities. I ended up writing this `before_send` function to pull info from the integration code without using the integrations themselves:

[cod

[2019-04-06 00:17] #324 closed

[2019-04-06 00:32] untitaker commented on #324
Glad you figured it out.

This is not yet documented (we should do that), but the method `scope.add_event_processor` takes a callback with the same signature and semantics as `before_send` and attaches it to the current scope. Since you are within a new scope for each request, you could define and attach the callback within the request handler:

[code]

We really want to avoid having an API for th

[2019-04-07 04:21] reparadocs commented on #310
Unfortunately, same error even after upgrading:

[code]

[2019-04-07 04:30] reparadocs commented on #310
Once I upgraded, I now get this error:

[code]

Is the slack webhook being miscategorized as a web crawler? Is there a way to disable this filter?.

[2019-04-07 16:45] untitaker commented on #310
Ah! Go to your project settings, go to "Inbound Filters". There you will see the option for "known web-crawlers" likely enabled:

<img width="577" alt="Screenshot 2019-04-07 at 18 43 25" src="https://user-images.githubusercontent.com/837573/55686725-1fb47580-5965-11e9-9982-41da3b2e5774.png">

We maintain a regex for those user agents here: https://github.com/getsentry/sentry/blob/e6cc8483b3992fb02

[2019-04-07 16:45] #310 closed

[2019-04-08 07:03] techdragon commented on #228
@untitaker I think I could probably have been clearer in how I explained the whole Sentry SDK vs Raven  thing. Fundamentally the discrepancy was one of documented functionality. Raven logging worked by adding the log handler into pythons built in logging system. The Sentry SDK tries to do this automatically which when combined with structlog results in failure out of the box, producing Sentry even

[2019-04-08 09:51] cramosc opened #327 "Cannot be run wtih -OO flag"
After installing the version 0.7.9. I cannot run sentry with the python flag -OO (discard docstrings). This is because in `sentry_sdk/integrations/__init__.py` the following was addded:
`iter_default_integrations.__doc__ += "\n- `{}`".format(import_string)`
which in case of running with -OO `__doc__` is `None` and you get the exception:
`TypeError: unsupported operand type(s) for +=: 'NoneType' an

[2019-04-08 11:21] untitaker commented on #327
Yeah, this code has been around for a while. I would accept a patch but we don't support `-O` on Python.

[2019-04-08 12:01] mitsuhiko opened #328 "Stop handling HTTP_PROXY"
The `urllib.getproxies` code that currently exists has a bug where it handles the `HTTP_PROXY` environment variable other than the `http_proxy` one it should actually handle.

[2019-04-08 12:04] mitsuhiko commented on #328
This might be acceptable because they have another workaround in place.

[2019-04-08 12:04] #328 closed

[2019-04-09 04:31] medns commented on #327
I have the same issue

[2019-04-09 08:30] decaz opened #329 "Exception extra data"
I use SDK with default integrations (and some additional also) and I have exception class like the following:
[code]
How can I propagate extra data of raised `MyError` exception to the SDK's scope extra data? I guess it'll be a lot of work to rework all integrations, - maybe it worth to include within `utils.event_from_exception` or `utils.event_hint_with_exc_info` some handling like this:
[code]

[2019-04-09 09:12] untitaker commented on #329
You can write a `before_send` function that accesses the data: https://docs.sentry.io/learn/filtering/?platform=python#before-send

[code]

[2019-04-09 10:37] daviskirk commented on #273
I also get the

[code]

Minimal code to reproduce:

[code]

results in

[code]

### Versions:

[code]

[2019-04-09 10:59] bertonha commented on #287
A simpler workaround

[code]

[2019-04-09 11:00] untitaker commented on #287
@bertonha We didn't stabilize `ignore_errors` yet, see #149. But yes, this is shorter and works too.

[2019-04-09 13:11] decaz commented on #329
@untitaker cool, thanks!

[2019-04-09 13:11] #329 closed

[2019-04-09 18:45] mwillmott opened #330 "Running on App Engine is causing 500 responses"
I've implemented the Sentry client on a Django application that i'm running on Google App Engine. When it catches an exception it causes the request to hang until, i'm assuming Google, kill it and i receive a generic `500` response with the following appearing in the logs `Thread running after request`.

I've seen various posts relating to the old Raven client about using a separate transport clie

[2019-04-09 18:46] untitaker commented on #330
Hi, the `HttpTransport` in this SDK is equivalent to `ThreadedHttpTransport` in the Raven SDK. We currently don't support environments without threads at all.

[2019-04-10 05:31] hamidfzm opened #331 "Flask integration wrong User IP behind proxy"
When sentry report bugs I get wrong users IP.

I'm using UWSGI and NGINX stack. I forward X-REAL-IP from NGINX to UWSGI. Also flask.request.remote_addr shows correct user IP address but sentry-sdk version 0.7.10 shows my server IP address as user IP.

Would you please assist?

[2019-04-10 07:50] mwillmott commented on #330
Ah right, thanks for the help @untitaker

[2019-04-10 07:50] #330 closed

[2019-04-10 15:47] untitaker commented on #331
Hello, your problem should be solved if you set `X-Forwarded-For` to the same value as well, but this is a bug in the SDK. We should trust the value given by Flask.

[2019-04-10 15:48] untitaker commented on #331
May I ask how you read X-Real-IP into Flask? I assume you use a WSGI middleware for this?

[2019-04-10 15:50] untitaker opened #332 "Make sentry-python emit data that does not need to be normalized by semaphore."
We should try to emit data exactly as semaphore would normalize it (timestamps as floats etc). This will make it easier to enforce a stronger invariant in the testsuite, which would have caught a bug.

[2019-04-10 15:52] untitaker commented on #332
Also add a `--store` flag to `semaphore process-event`.

[2019-04-10 15:54] untitaker commented on #332
For context: https://github.com/getsentry/sentry-python/commit/2f5487235848e3bda9eae150facb0bb9e0c490a4

[2019-04-10 22:09] nickbaum commented on #276
Looks like cookies are coming through now, not sure if something changed on your side but as far as I'm concerned you can close this!

[2019-04-11 02:32] SEKIRO-J opened #333 "How do we make sure coroutine safe in sentry?"
I'm using sentry on top of tornado, unfortunately I couldn't use the tornado integration because neither my python version nor my tornado version satisfied.

Now I'm concerning about coroutine safety, for example,
routine A push_scope, with tags infoA, yield
routine B push_scope, with tags infoB, yield
routine A proceeds, report exception, wrong tags info will be sent.

How do we solve this proble

[2019-04-11 08:14] untitaker commented on #333
We haven't spent any time on supporting async frameworks that don't support contextvars, because as far as I know it works differently for each async framework. This is the only reason for the strict version requirements of the Tornado integration.

I think something like this could work: https://gist.github.com/simon-weber/7755289 But instead of setting and resetting a `thread.local()`, you set a

[2019-04-11 20:26] nvgoldin opened #334 "Sentry SDK excephook throwing an exception"
Getting the following error with `sentry-sdk[flask]==0.7.7`

[code]
Any ideas?

[2019-04-12 14:19] Seljelid opened #335 "Exclude dicts from context"
We process large amounts of data in dict for in our application and therefore exceed the maximum payload size. How can we exclude these large dicts from the sentry_sdk context in order in order to get reasonable errors on Sentry. Now we get Worker Timeout since it takes more than 30 seconds for sentry_sdk to crash.

[2019-04-12 14:23] untitaker commented on #335
Hi, which sdk version is that? We added quite a bit of data trimming in 0.7.10.

[2019-04-12 14:26] untitaker commented on #334
I know how to fix this, but I want to understand why this happens. From what I can tell `Hub` is `None` because the interpreter is shutting down, but in my mind the excepthook should run directly before that happens.

Just so my assumptions are correct, this is happening when your process stops, right?

[2019-04-12 14:51] Seljelid commented on #335
I tried updating to 0.7.10, but the problem still persists.

[2019-04-12 15:00] untitaker commented on #335
Ok, do you per chance know where in the event structure those large dicts are occuring? I assumed that it's a dictionary somewhere in the local variables that sentry-sdk picks up and tries to send to the server, but it seems that this data is attached somewhere else.

[2019-04-13 08:11] gagan-chawla opened #336 "Unified sentry-sdk integration does not have support to add stack trace in python logger using 'stack': True in extra dict."
Migration from raven to unified sentry sdk, affected extended functionalities to python logging provided by raven. _extra_from_record - excludes keywords 'stack' and 'data'. Is there a known workaround?

[2019-04-13 08:12] untitaker commented on #336
Set `exc_info=True`, it's used for both callstack and exception stack now.

On Sat, Apr 13, 2019, 10:11 Gagan <notifications@github.com> wrote:

[2019-04-13 08:16] gagan-chawla commented on #336
About 'data' key in extra. It is also used for breadcrumbs, is that the reason we can't use it in python logging?

[2019-04-13 08:22] untitaker commented on #336
Good point, this seems like a bug. Likely a copy paste error from raven.
Would certainly appreciate a PR!

On Sat, Apr 13, 2019, 10:16 Gagan <notifications@github.com> wrote:

[2019-04-13 11:31] gagan-chawla commented on #336
Here https://github.com/getsentry/sentry-python/pull/337

[2019-04-13 17:35] nvgoldin commented on #334
Thanks for your reply. Actually, I am not sure, will check.

On Fri, Apr 12, 2019, 17:26 Markus Unterwaditzer <notifications@github.com>
wrote:

[2019-04-13 21:33] goodspark opened #338 "Provide a means for capturing stack trace for messages that are not errors"
... without relying on the logging integration.

SDK v0.7.10

Currently, the only way to do this is via the logging integration and issuing a log at the configured level or higher with `exc_info=True`. I don't think this is a good substitute because:
- I don't want to classify these events as errors (the end goal being errors should drive alerts)
- Sometimes there are interesting or unexpected eve

[2019-04-14 12:11] anirvan-majumdar commented on #228
I believe @untitaker's solution works just as well.
I have tried it with our Django application (v 1.7), where I've plugged in the `structlog_sentry_processor()` method in the processor chain and as @techdragon mentioned, put the following:
[code]
while initialising the `sentry_sdk`. The above prevents duplicate logging. Other than that, I didn't have to rewire the `stdlib` logging dictionary.

[2019-04-15 07:41] untitaker commented on #327
Thanks for the PR @medns. Out of curiosity: Why do you use that flag?

[2019-04-15 08:49] Seljelid commented on #335
I think you're correct though since we get a large dict containing the data we have in memory in the 'vars'-pars of the event. This occurs even though we use 0.7.10.

[2019-04-15 09:31] Seljelid commented on #335
I looked at the strip_databags-method, and if I got it right it strips on breadth rather than depth. Our objects are deep rather than wide, so I guess this might be an issue.

[2019-04-15 09:37] Seljelid commented on #335
I took a look at the strip_databags-method and I believe that the problem is that we have to many layers if our dicts, and that method only goes to a certain depth in dicts.

[2019-04-15 09:40] untitaker commented on #335
When it exceeds the depth it returns `None` though, so it's supposed to trim by both depth and breadth. How deep are your dicts? Perhaps it's just that 20 is too high of a number.

[2019-04-15 09:44] Seljelid commented on #335
4 layers at max I think, i.e dict[key1][key2][key3] gives a value. So it might be the case that 20 is too high of a number for us.

[2019-04-15 09:58] untitaker commented on #338
We (or at least I) are trying to move people away from instrumenting our SDK explicitly and instead use logging mechanisms that are native to the platform (in this case Python). In my view there's potential to make Sentry error reporting through logging a better experience than using `capture_*` everywhere explicitly. For once because users will get a lot of value out of the box from Sentry (assum

[2019-04-15 11:07] untitaker commented on #335
Could you check whether setting it to 4 works for you? This is tricky to debug and I think we might have to make this a config option.

[2019-04-15 11:11] untitaker commented on #335
My ideal here is to avoid too strict trimming on the clientside. Of course a freeze should never happen and we still need to get below the max payload size, but we want to get to a state where most trimming only needs to happen serverside.

[2019-04-15 11:48] Seljelid commented on #335
Alright, I'll try patching it and see if it works.

[2019-04-15 12:41] Seljelid commented on #335
If I patch it (also with max depth 1), I avoid the freeze but it's still really slow which will crash our worker due to timeout before getting a reasonable error message.

[2019-04-15 13:48] untitaker commented on #338
So about threads vs stacktrace:

We are trying to deprecate `stacktrace` because in its current form it's a quite limited attribute, and it overlaps with the data `threads` can provide. I think there's room for improvement wrt how we show information in the UI. For example if the Thread ID is missing I think we should just show nothing instead of `id n/a`.

[2019-04-15 13:49] untitaker commented on #335
I don't understand what's going on here. If you patch the SDK to remove vars entirely, does the crash still happen?

[2019-04-15 13:59] goodspark commented on #338
This feels highly incongruous, because I still have to call Sentry to add tags to events.

[code]

[2019-04-15 14:08] untitaker commented on #338
Yes. However, you'll find that tags are a thing we never set in any integration, because indexing by them is a serverside cost we only want to bear if the user is explicitly asking for it. There are multiple requirements we have to serve here, and if those requirements are in conflict we have to pick one for lack of a compromise. As far as I understand tags are rather an exception to the rule.

An

[2019-04-15 16:02] goodspark commented on #338
Another use case that's also popped up recently: structlogs & errors/non-exception events with stack traces

I've been trying to integrate the new SDK with another Python project that uses structlog instead of stdlib logging. Due to grouping issues (similar to the discussions in #228), I wound up writing my own processor for Sentry. The code is very similar to hynek's SentryProcessor in  https://g

[2019-04-15 16:18] #336 closed

[2019-04-15 16:33] untitaker commented on #338
So to summarize, I see three distinct issues here:

* You want to send a warning-level event. The way to do this right now is to use the logging integration, but you want to avoid setting the logging integration's level to warn, understandably. There are two workarounds to this: Use explicit logging configuration by registering handlers explicitly, or use `before_send` to drop warning-level events

[2019-04-15 17:56] goodspark commented on #338
For the third, point, it's more like:
- I want to record the caller stack in cases where an exception may not be present or in cases where I don't want to record the exception. Basically, decoupling stack traces from exceptions.

[2019-04-15 17:59] untitaker commented on #338
This is kind of a stupid workaround, but would the following work for you?

[code]

Not suggesting that this is great, just trying to understand.

[2019-04-15 18:10] goodspark commented on #338
It would work for stdlib logging cases, but not for structlog, where I can't distinguish between exception or error calls.

[2019-04-16 07:47] Seljelid commented on #335
If I patch it to remove vars (or trim it down to something very small), it doesn't crash but it takes a really long time to get the response. If I don't initialize the SDK, I get a keyerror after ~0.2 seconds (which is what should happen), but with the SDK initialized it takes ~40 seconds until the event is processed and sent.

[2019-04-16 07:55] untitaker commented on #335
How large is the event you're sending there, and where are you running your application? Can you confirm that the connectivity to sentry.io is not a problem (although it shouldn't matter)?

[2019-04-16 09:13] Leixor opened #343 "Flask error logging with exc_info not showing up in the UI"
I have a simple flask app open where i want to catch an exception and log a custom message together with the stack trace.

This logging is done inside of a route inside a flask blueprint.

Every other type of log works, capture_exception (where I can't put a custom message) and normal error logging (where I can't get the stack trace to show) both work.

In the example I tried to log with the loggi

[2019-04-16 10:24] untitaker commented on #276
Huh, okay let's close this until somebody reports it again.

[2019-04-16 10:24] #276 closed

[2019-04-17 17:18] wss-chadical commented on #198
@untitaker

We have the same scenario - multiple projects for different types of issues/messages. Currently, we are just switching between two projects on the fly using sentry_sdk.init().

This seems to work just fine - but I'm pretty sure we are heavily leaking memory somewhere by doing this...

Help please. :-)

+1

[2019-04-17 17:21] untitaker commented on #198
@wss-chadical Calling `init` multiple times definetly leaves a lot for GC and creates a lot of threads. If you do that, a good and simple improvement is to call `Hub.current.client.close()` before calling `init()` again, but I have no idea if that's going to fix all of your problems. I recommend the approach from @saifelse.

[2019-04-17 17:24] untitaker commented on #198
btw sorry @saifelse for the lack of response. Passing a function as a transport is only used for testing purposes. I think your approach is fine. Something we could improve is to put a `TransportMultiplexer` class into the SDK which forwards the event to all transports, and then each transport decides by itself if it wants to send.

[2019-04-17 18:11] wss-chadical commented on #198
@untitaker I'll start with the close() - Thank you 👍

[2019-04-17 18:18] untitaker commented on #198
to be clear I still strongly recommend against this approach because it will likely impact perf. If you need multiple clients and can't use transports, I will post a solution but it takes a while to write.

[2019-04-17 18:20] wss-chadical commented on #198
This is a data integration server (zato) - the transactional volume is not high - a little extra overhead is not a problem. If the hub.close reduces the thread/mem leaks it will work for us.

[2019-04-18 18:58] Siecje opened #344 "Does this client truncate long strings and lists?"
In the raven config there was `'list_max_length'` and `'string_max_length'` but they don't exist for the new client.

I see there is this function for strings but I don't see one for lists.
https://github.com/getsentry/sentry-python/blob/2f5487235848e3bda9eae150facb0bb9e0c490a4/sentry_sdk/utils.py#L242-L248

[2019-04-18 20:05] untitaker commented on #344
We have this: https://github.com/getsentry/sentry-python/blob/263a0bd92bdf85c6b23c889c8cd5a28adfd81ea2/sentry_sdk/utils.py#L823

People have reported that this is too lenient, but we haven't figured out why yet.

[2019-04-18 20:19] Siecje commented on #344
So if I have a list with 1000 items I will only get the first 20 items?

https://github.com/getsentry/sentry-python/blob/263a0bd92bdf85c6b23c889c8cd5a28adfd81ea2/sentry_sdk/utils.py#L844

[2019-04-18 20:21] untitaker commented on #344
Yes exactly. We intend to make this configurable but keep in mind that you will likely run into serverside limits as well.

[2019-04-22 18:09] wss-chadical commented on #198
Hub.current.client.close() has slowed the bleeding, but not stopped it.

I decided to better understand the thread above... and it looks like I have it figured out. :-)

def send_event(event):
    if 'extra' in event and 'project' in event['extra'] and 'data-issues' in event['extra']['project'].lower():
        sio_data_issues.capture_event(event)
    else:
        sio_zato_esb_production.capture_

[2019-04-22 18:12] untitaker commented on #198
Yes, this can work as well. You might encounter odd issues since this will trim too large strings twice (because an event goes through two clients) but I am not sure if it even matters. It's certainly a flexible solution.

[2019-04-22 18:28] wss-chadical commented on #198
that's good to know - I'll keep an eye on it. I do pass quite a bit of extra.

It's very nice to have support here guys.

@saifelse Thanks for getting this started!

[2019-04-22 18:33] untitaker commented on #198
I'll close this since the original question has been answered by now.

[2019-04-22 18:33] #198 closed

[2019-04-22 18:37] untitaker commented on #343
This part is interesting. If you run with `debug=True`, you see an event going through to Sentry in both cases, but one does not show in the UI?

[2019-04-22 18:45] untitaker commented on #338
@goodspark I want to close this issue because the structlog support is already discussed/tracked elsewhere and I see the rest more as feedback on the API rather than actual features. I gave you a few workarounds for your problems with the logging integration, but that aspect of the discussion never really went anywhere.

I don't quite understand how this is relevant. If you want to funnel this thr

[2019-04-22 19:41] goodspark commented on #338
1. If this is feedback on the API, what are the next steps to support my use cases?
2. The workarounds as you've mentioned yourself, aren't great. This really should be easier from a user point of view, regardless if it's an SDK or API issue.
3. Struct logging definitely isn't required to integrate with Sentry. But then I'd prefer some cleaner APIs to decouple stack traces from exceptions, which l

[2019-04-22 21:44] untitaker commented on #338
As it stands you're the first one I know who both has a usecase like this and is sufficiently dissatisfied with the UX around it to want additional API surface. So you have to understand that this is not something we want to change right now, especially considering that this thread contains multiple workarounds that are not even fragile or rely on unstable API, instead they are just verbose.

The

[2019-04-23 05:49] NullYing commented on #331
[code]
May I use like this ?

[2019-04-23 07:06] daviskirk commented on #273
@untitaker I'd be happy to try and add a patch for this (for the attribute error) if needed.
Currently we work around this by (badly) monkey patching the queue join method that causes the problem:

[code]

[2019-04-23 07:22] untitaker commented on #273
Ah, sorry for dropping the ball on this. I would highly apprechiate a patch for the queue problem.

[2019-04-23 07:22] untitaker commented on #331
@NullYing this seems fine, but I don't understand how it's related to this issue.

[2019-04-23 07:26] NullYing commented on #331
https://github.com/getsentry/sentry-python/blob/263a0bd92bdf85c6b23c889c8cd5a28adfd81ea2/sentry_sdk/integrations/wsgi.py#L129

[code]

I found get_client_ip in wsgi.py
but not flask

[2019-04-23 07:30] untitaker commented on #331
@NullYing See here: https://github.com/getsentry/sentry-python/blob/263a0bd92bdf85c6b23c889c8cd5a28adfd81ea2/sentry_sdk/integrations/flask.py#L65

So the integration already does `app.wsgi_app = ...`, but the middlewares run in the wrong order (`ProxyMiddleware` runs after `SentryMiddleware`, so Sentry sees the wrong IP)

[2019-04-23 07:38] untitaker commented on #331
I will fix this bug shortly, @NullYing just gave me an idea on how to solve this elegantly

[2019-04-23 20:00] goodspark commented on #338
Yeah the workarounds will suffice. Thanks for your time

[2019-04-23 20:00] #338 closed

[2019-04-23 20:02] untitaker commented on #338
@goodspark I hope this didn't come across as harsh. I do value your feedback but I think we need to push back a bit on features as well to avoid feature creep.

[2019-04-25 06:37] daviskirk commented on #273
@untitaker  is there any good place in the code to start understand how sentry handles these implicit concurrency libs like eventlet or gevent?  I can't really tell if the code attempts to handle them or they are not explicitely supported (the old raven clients hat specific transports and code for these but that doesn't exist here).

[2019-04-25 09:00] untitaker commented on #273
@daviskirk there exists no precedent in this codebase. I think the best thing you can do is to check if the attribute exists and fall back to a custom impl

[2019-04-25 10:47] rik opened #350 "DjangoIntegration not picking IP from X-Forwarded-For"
The IP address reported is the first proxy (aka `REMOTE_ADDR`) rather than the first entry in `X-Forwarded-For`.

In the sentry events, `X-Forwarded-For` is correctly populated by all the proxies my app is running behind.

[2019-04-25 11:09] untitaker commented on #350
Could you link a sample event so I can take a look?

[2019-04-25 11:14] rik commented on #350
https://sentry.io/organizations/temporary-name/issues/999033107/events/15574af3980046a6b5cec4d7772b357b/

[2019-04-25 11:32] ardenn opened #351 "Install requires urllib3 without explicitly specifying a version"
The sdk requires urllib3 as a dependency in `setup.py` line `24`, but doesn't explicitly specify a version number. This causes a dependency conflict in projects that require a different version of urllib3 as the sentry-sdk will always try to install the latest version of urllib3.

![image](https://user-images.githubusercontent.com/17312279/56732048-d6d22e80-6764-11e9-9bb5-8fe488720944.png)

![imag

[2019-04-25 11:34] untitaker commented on #351
Which tool shows you this dependency conflict? I'd argue it's broken for assuming no version range means always latest version.

[2019-04-25 12:09] #331 closed

[2019-04-25 12:35] #178 closed

[2019-04-25 12:35] #308 closed

[2019-04-25 13:21] untitaker commented on #350
I see no `REMOTE_ADDR` there. This leads me to conclude you didn't set `send_default_pii` to `True`. But that would mean there should be no IP address reported.

I think something outside of the SDK sets this IP address.

Is the correct user IP in `X-Forwarded-For`?

[2019-04-25 13:59] ardenn commented on #351
I'm using a number of libraries, google-cloud-storage, nameko, requests among some others. They all specify the version range of `urllib3` as `>=1.21.1,<1.25`. However, `urllib3` recently (yesterday) released a new version hence the conflict

[2019-04-25 14:15] rik commented on #350
Should `REMOTE_ADDR` appear in the Headers list? It's not an HTTP header.

I have not set `send_default_pii` to `True`, I'll try that to see if it changes anything.

I'm starting a Django project on Heroku with Cloudflare. So far I have no application code, what could set this IP?

Yes, it is showing my IP and CloudFlare's IP.

[2019-04-25 14:23] untitaker commented on #350
Below headers there is an environment section where you should see a small
subset of wsgi env vars. REMOTE_ADDR is there iff the pii option is true.

I don't know about Heroku, I was more thinking about something your code
does.

On Thu, Apr 25, 2019, 16:15 Anthony Ricaud <notifications@github.com> wrote:

[2019-04-25 14:43] rik commented on #350
Setting `send_default_pii` to `True` fixed it.

I wonder if the IP address recorded was the server sending the event.

[2019-04-25 14:54] untitaker commented on #350
I would be very interested how it got there without that option. This is a privacy issue that we need to fix if it's the sdk doing thst

[2019-04-25 15:03] rik commented on #350
Happy to help how I can. Are you interested to be added as a collaborator on the private project?

[2019-04-25 15:32] untitaker commented on #350
Feel free to add me! This seems important.

On Thu, Apr 25, 2019 at 5:03 PM Anthony Ricaud <notifications@github.com>
wrote:

[2019-04-25 15:45] untitaker commented on #350
I can't find anything that would add this IP address. If people run into this again let's reinvestigate. We have tests for this so IP addresses should not be generally added by default.

[2019-04-25 15:45] #350 closed

[2019-04-26 12:25] jerr0328 opened #353 "0.7.10 CeleryIntegration captures task Ignore exception"
Similar to #252, I've noticed that the Sentry client with the CeleryIntegration is capturing task Ignore exceptions, which are often used with dynamic tasks (see also https://github.com/celery/celery/issues/3437). I believe that since Retries are ignored, the `Ignore` exception should also be ignored.

The exception in Sentry is showing `celery/app/task.py in replace at line 894`:
[code]

celery:

[2019-04-26 17:07] jlariza opened #354 "Issue with `facebookexternalua` user agent"
Good day,

We have a Django application using sentry that manages a facebook chatbot. All the chatbot logic runs with it and the chatbot is on production right now.

The issue is that the application receives requests from Facebook directly but when an error is raised inside the view that receives this information the error never reaches sentry.

Facebook's user agent is `facebookexternalua`. I st

[2019-04-26 17:19] untitaker commented on #354
Hi, is it possible in your situation to disable the "Ignore known web crawlers" filter? See screenshot at https://blog.sentry.io/2017/11/27/setting-up-inbound-filters

[2019-04-26 18:10] jlariza commented on #354
@untitaker perfect! I checked the project settings but I did not see that option.

Thank you!

[2019-04-26 18:10] #354 closed

[2019-04-26 18:35] untitaker commented on #354
Great! If anybody else sees this issue, there are ways to work around this when you're interested in errors from a specific crawler. Just ask!

[2019-04-27 13:45] allanlei commented on #327
We migrated from https://github.com/getsentry/raven-python, which works with `-O` and `-OO`, and encountered this problem.  The [migration guide](https://forum.sentry.io/t/switching-to-sentry-python/4733) also does not mention this.

The PR https://github.com/getsentry/sentry-python/pull/341 works with `-O`, but the error still happens with `-OO`.

[2019-04-29 08:20] untitaker commented on #351
We don't require the latest version of urllib3. It even shows `required: Any` in your screenshot. I don't understand where the conflict is, or more importantly, what the actual problem is that results out of this for you.

My theory is that you have multiple `pip install` commands, some of which run with `-U`, that overwrite parts of the dependency tree that the previous commands have built. But t

[2019-04-29 08:40] untitaker commented on #327
@allanlei Since you edited your comment, do you encounter any issues with this SDK right now?

[2019-04-29 08:54] untitaker commented on #353
Thanks for the bugreport, fixing with #355.

[2019-04-29 11:41] ardenn commented on #351
Without pinning a specific version of urllib, sentry will always install the latest version (which is not what other libraries might need). To avoid conflicts with other libraries that also require urllib (could be a different version), I have to list sentry as the first item in my `requirements.txt` just to make sure any other dependency that comes after sentry uninstalls the version already inst

[2019-04-29 11:47] untitaker commented on #351
I don't see how reproducible builds or anything close to it solve your problem. You're asking me to pin urllib3 in sentry-sdk to the version your other dependencies use just so there is no conflict specifically in your application. This will introduce more conflicts for people whose dependency tree looks different.

The fact that `pip install` does not deal with version conflicts is not something

[2019-04-29 11:47] #351 closed

[2019-04-29 12:19] pupeno opened #356 "When I set up Managers and/or Admins in Django, Sentry seems to stop working."
I asked the question on Stackoverflow and it's starting to look like a bug (or feature):

https://stackoverflow.com/questions/55469240/sentry-vs-managers-and-admins-in-django-whats-the-correct-setup

[2019-04-29 12:38] untitaker commented on #356
Hi, which Django version is this? Were you able to reproduce this with a simpler app than your real one, or outside of Heroku?

[2019-04-29 12:39] #353 closed

[2019-04-29 12:57] pupeno commented on #356
I believe it happened in Django 2.1 or 2.2. I didn't try outside of Django.

[2019-04-29 13:47] allanlei commented on #327
No problems with 0.7.12

[2019-04-29 13:48] untitaker commented on #327
Cool. I'll close this issue then.

[2019-04-29 13:48] #327 closed

[2019-04-29 23:31] steven-murray opened #358 "How to disable sentry in DEBUG mode in django"
Hi,

This is my first time using Sentry, and it worked really easily with Django. However, I can't find any information about how to configure sentry using the Django logging configuration, except for the old Raven interface.

Specifically, I'd like to turn off reporting to Sentry when in DEBUG mode.

Thanks for any help.

[2019-04-30 18:29] untitaker commented on #358
You can just not call `init` in your settings.py. Is that sufficient?

[code]

[2019-04-30 21:31] steven-murray commented on #358
Haha, that will work I guess. Thanks! By the way, is the dsn in the init supposed to be kept secret?

[2019-05-01 17:53] untitaker commented on #358
Another way to filter out events is to use https://docs.sentry.io/error-reporting/configuration/filtering/?platform=python#before-send

For your question about the DSN, please refer to https://forum.sentry.io/t/dsn-private-public/6297

I hope everything goes well! I'll close this issue now, if you have a new separate question please make a new issue (I believe this helps with google-abillity of th

[2019-05-01 17:53] #358 closed

[2019-05-03 11:17] untitaker commented on #356
@pupeno I attempted to test this with a local django app and failed. I ensured:

* `DEBUG = False`
* `ADMINS` set to my email addr
* `sentry_sdk.init()` in `settings.py`
* Copypasted your logging config

[2019-05-03 12:35] Seljelid commented on #335
It might be so that the actual trimming of data isn't really the issue here. When patching the strip_databag method I realized that it takes a really long time before event reaching that method call.
When initializing the SDK with debug=True I get "TypeError: Object of type 'AnnotatedValue' is not JSON serializable" before it spits out my entire data blob.
We are using tuples as keys in some of ou

[2019-05-07 11:33] untitaker commented on #335
@Seljelid We stringify all dict keys.

This is problematic. Could you post a stacktrace?

[2019-05-08 07:47] tolgahanuzun opened #360 "Possibility to send error through the shell."
Normally I used the `raven` library for sentry. As of yesterday, I decided to move to the new library. (sentry-sdk) I tried to test the error via shell to test. But nothing happened.

When I examined the codes I saw an `if` to block it. I think this decision can be made optional. If you think so, I have prepared a PR. You can check and ask for edits..

(It also gave a great pleasure to visit the c

[2019-05-08 11:58] cypherlou opened #362 "Client Request has no User Agent (v 0.7.14)"
The Python client, out of the box, does not appear to set a `User-Agent` header, which contrasts with the `raven` client which used to send something like `raven-python/6.10.0`. This is unfortunately causing us issues as a proxy in our infrastructure blocks requests from Clients that do not provide a UA header.

Some of the other implementations appear to allow the `before_send` hook to influence

[2019-05-09 18:53] untitaker commented on #360
Keeping this open because the feature request is still valid. I don't want to have this as option on `init` but if people want to, we can have it as option on the integration (`init(integrations=[ExcepthookIntegration(always_run=True)])`)

[2019-05-10 01:18] asgoel opened #363 "Celery Integration not modifying events"
We're seeing an issue where our celery integration is not kicking in, even though it is enabled.

celery version 4.3.0
sentry_sdk version 0.7.14

We wrap all of our tasks with @app.task:
[code]

We run celery like so:
[code]

The only noticeable configuration that we have that I could think that would affect this is `task_ignore_result=True`.

From my limited debugging I've noticed that if I add a

[2019-05-10 02:31] asgoel commented on #363
Oh, one thing I forgot to mention. We instantiate our sentry client in the `celery.signals.worker_process_init.connect` handler. Is this too late?

[2019-05-10 02:48] asgoel commented on #363
Was able to get around this by listening on the `celeryd_init` signal instead of the `worker_process_init` signal. Still want to confirm I took the right course of action here, though.

[2019-05-10 08:41] untitaker commented on #363
@asgoel litmus test: If you put a print statement where you `init`, does the print run when the worker is starting or when the first job is incoming? The latter is too late.

It is recommended to `init` at import time in the module where your app is defined.

[2019-05-10 17:53] #360 closed

[2019-05-10 19:24] picturedots commented on #351
Having the same problem, with two different libraries -- botocore and requests.  I now get these errors from doing a pip install if I don't explicit fix a version of urllib3:

[code]

It doesn't seem that sentry is doing anything wrong per se, but it isn't playing by the same rules as these other libraries.

[2019-05-10 20:08] untitaker commented on #351
I really have no idea how to even work around this in the sdk without breaking the dependency trees of even more people. Install a specific version of urllib3 explicitly to solve this problem or use something with reasonable dependency resolution, like poetry.

[2019-05-12 20:13] thomasw commented on #265
I tested this again in the following environment and I'm still seeing the same behavior:

[code]

Both downgrading back to 0.6.9 and removing `CeleryIntegration()` from the  integrations list resolves the issue.

The tests themselves aren't particularly interesting. An API call is made which kicks off a celery task. Since `CELERY_ALWAYS_EAGER` is enabled, the task is supposed to execute synchronou

[2019-05-12 20:22] untitaker commented on #265
@thomasw if you could drill this down to a self-contained but complete repro case it would be highly apprechiated. I am basically testing the sdk the same way, and just now tried with the same dependencies. So there is some mundane detail that makes our tests different.

[2019-05-13 22:23] Ashish-Bansal opened #365 "Specify loggers for sentry handler"
Hello everyone!

We recently replaced raven with new sentry-sdk. Raven was configured through standard library's logging module configuration. We were specifying the loggers to which sentry's handler would be attached. So, sentry used to post messages from our specified loggers and all other uncaught exceptions through `sys.excepthook`.

In sentry-sdk, I can't find any such option. So, we are usin

[2019-05-14 09:18] blodone opened #366 "How to log other level like info or warning to Django"
Previously with the sentry_sdk i got this configuration:
[code]

How should i transform this to the DjangoIntegration?
currently only messages with level >error are being logged

[2019-05-14 10:13] untitaker commented on #366
You don't need to transform anything:

[code]

[2019-05-14 12:31] GitRon opened #367 "Missing raven-like management commands"
Hi guys,

Just went through your docs for django integration and could not find any equivalents to the old raven management commands like `manage.py raven test`.

Where do I find the docs for this?

Thanks!
Ronny

[2019-05-14 12:33] untitaker commented on #367
We don't support test messages anymore. Just pop open a Django shell and run:

[code]

[2019-05-14 12:35] GitRon commented on #367
Thanks! Might be awesome to put this in the django part of your docs. We used `raven test` all the time.

[2019-05-14 14:40] untitaker commented on #365
That's a fine way to do it. On https://docs.sentry.io/platforms/python/logging/ you will find references to two `logging.Handlers` that you can register explicitly too instead of using the logging integration. This is useful if your logging setup is very complex and you want to make the new system work similarly to Raven. But I think `before_send` is quite good for this.

Does this help?

[2019-05-14 14:45] untitaker commented on #265
Here's a shot in the dark, does it help to patch the SDK like this?

[code]

[2019-05-14 14:53] Ashish-Bansal commented on #365
I see. Thanks for the help!

[2019-05-14 14:53] #365 closed

[2019-05-16 18:32] thomasw commented on #265
@untitaker I wanted to drop in real quick to update you, but more importantly just to say that I really appreciate your help. I know it can be exceptionally difficult to investigate these types of things without a minimal reproduction. Unfortunately, I'm bouncing back and forth between a bunch of implementations and I'm having to be very opportunistic about when I poke at this. If I drop in with i

[2019-05-17 15:47] untitaker commented on #265
We're on the same page, and I really apprechiate that you are investigating this!

[2019-05-19 18:12] untitaker commented on #335
@Seljelid please try 0.8.0, it should greatly improve performance for large local variables.

[2019-05-20 15:48] irmiller22 opened #369 "Sentry Exception names only show "Traceback" instead of actual exception name"
I have Sentry set up for a Python application that we're using internally.

The Sentry exception ticket has the following attributes:
- Name: `Traceback (most recent call last):`
- Message:
[code]

See the following screen capture:
<img width="707" alt="Screen Shot 2019-05-20 at 11 48 31 AM" src="https://user-images.githubusercontent.com/5270046/58034763-4681d200-7af5-11e9-80b9-d93e522a604f.png">

[2019-05-20 15:52] untitaker commented on #369
Where do you actually capture the error? In the snippet you showed me you only attach some data to the current scope, which you can do anytime. Your code is equivalent to:

[code]

I think you're logging a stringified version of the traceback, and not the actual exception. It seems that you at some point catch down the error and log to `pegasus.services.aquarius.service`. This could also happen wi

[2019-05-20 15:53] untitaker commented on #369
By the way, your Sentry *server* is very old and I urge you to upgrade.

[2019-05-20 15:55] irmiller22 commented on #369
@untitaker hi, thanks for the quick response!

In the code snippet, you'll see the try/except block where we capture SQLALchemy query failures:

[code]

[2019-05-20 15:57] untitaker commented on #369
You only catch and re-raise the error. The error message you see in Sentry does not originate from this piece of code, only the additional data such as `query` and `params` does. If you were not to run `raise e`, I would assume the error would not surface in Sentry.

[2019-05-20 15:59] untitaker commented on #369
To be clear, I think somewhere further up the callstack there's code that looks like this:

[code]

This could be hidden in a web framework or something else.

[2019-05-20 16:00] irmiller22 commented on #369
🤦‍♂ I think I see what you're saying. There is code upstream that does handle exceptions, and runs this: `log.error(traceback.format_exc())` inside the exception handler block. I will address there - thank you for helping me figure it out!

[2019-05-20 16:00] irmiller22 commented on #369
Jinx, you hit the nail on the head. Thank you again. I'll close this ticket out.

[2019-05-20 16:00] #369 closed

[2019-05-20 16:00] untitaker commented on #369
You can change it to `log.error("my code failed", exc_info=True)` and it should work!

[2019-05-21 01:51] lpsinger opened #370 "Celery integration captures retried exceptions that it shouldn't when one task directly calls another"
I have one Celery task that directly calls another, but as a function, not as a task. The first task is auto-retried for a certain set of exceptions, and the second task is retried for a different set of exceptions. [Here is an example task in my actual codebase](https://git.ligo.org/leo-singer/gwcelery/commit/b3768d7158728248067bc73b96cd48faeda78f35), but here is an isolated illustration of the p

[2019-05-21 11:10] untitaker commented on #370
We generally don't have support for `autoretry_for`, but we should fix that. If you raise `Retry` instead it should work fine

[2019-05-21 14:18] Prillan opened #371 "Dedupe triggers on dropped events"
The dedupe integration drops events that were never sent before.

1. An error is triggered.
2. before_send drops the event.
3. Another event is triggered based on the same error somewhere else.
4. dedupe drops the event.
5. (before_send would have accepted the event)

Ideally, dedupe would run _after_ `before_send` or there should be a possibility to hook into the event processing earlier. A third

[2019-05-22 13:54] wmonk opened #373 "Grouping events caught with the Flask integration"
Hi I have been following the guide to group a bunch of issues using fingerprints as laid out here - https://docs.sentry.io/data-management/rollups/?platform=python#example-merge-a-lot-of-groups-into-one-group-groups-are-too-small.

I am trying to group various `pymysql.err.InternalError` into a few different groups, one for deadlocks and one for lock wait timeouts. The code to do this is fairly st

[2019-05-22 13:57] untitaker commented on #373
`exc_info` may not always be there in case it's not an error event. I don't quite see why `FlaskIntegration` wouldn't create a hint for crashing request handlers. Here it calls `capture_event` with the hint dictionary explicitly created: https://github.com/getsentry/sentry-python/blob/cf9eda29fa713edaece4be50ce5208b04a8a4d7e/sentry_sdk/integrations/flask.py#L187

[2019-05-22 13:59] wmonk commented on #373
Ah whoops missed that part of the integration code. I will do some more digging and see what happens. Thanks for your prompt reply!

[2019-05-22 14:02] untitaker commented on #371
To solve your intermediate problem, you can use `ignore_logger`: https://docs.sentry.io/platforms/python/logging/#ignoring-a-logger

Not sure what's best to do about the more general bug yet. Thanks for raising it though!

[2019-05-22 16:41] graingert opened #374 "New integration for sys.unraisablehook"
Python 3.8 has a new hook: sys.unraisablehook https://github.com/python/cpython/pull/13187

Sentry should set this to be able log details about 'unraisable' exceptions

[2019-05-22 16:45] untitaker commented on #374
Yeah this should be doable. I'd imagine a lot of errors in `__del__` are when the interpreter shuts down though, and I don't know if we're capable to send to Sentry that late.

[2019-05-22 18:14] bcollazo commented on #267
I am also experiencing the same thing. Very similar setup to the one described by @bluesurfer. The Raven Python setup included a 'Cookies' section as well as better 'User' information (these both seem to be Django `request` object information).

[2019-05-23 12:33] bluesurfer commented on #267
@bcollazo @untitaker I have some updates.

I am following [cookiecutter-django](https://github.com/pydanny/cookiecutter-django) repository to lay down my project. It seems that with recent updates (also from sentry-sdk) the following configuration to me is working:

[code]

Therefore to me this issue could be closed.

[2019-05-23 12:42] untitaker commented on #267
Ah that's neat, I wasn't aware of https://github.com/pydanny/cookiecutter-django/pull/1820!

Tbh I think it's highly unlikely that @bluesurfer has the same actual problem as you, @bcollazo. Could you open a new issue with more information?

[2019-05-23 21:17] chdsbd opened #375 "Add PEP 561 support"
It would be useful to be able to use the type hints defined in this library with mypy. This library needs to add support for PEP 561 for this to work.

[2019-05-23 21:25] untitaker commented on #375
Thanks for bringing this to my attention, I think this should be fixed in the next release.

[2019-05-24 09:27] mentholi commented on #265
We seem to be hitting this same problem with `sentry-sdk==0.8.0` and `Celery==4.1.0`.

Here is our trace which seems very similar: https://gist.github.com/mentholi/68ec473293258b3a135a547102a79383

In Sentry there are "maximum recursion depth exceeded" errors but no useful info on them. That stacktrace is from Celery logs.

@thomasw Are you seeing this error without `CELERY_ALWAYS_EAGER = True`? W

[2019-05-24 09:28] untitaker commented on #265
@mentholi That's interesting, right now the consensus was that always_eager is a recurring theme. Could you try downgrading the SDK to pre-0.7.0?

[2019-05-24 09:36] mentholi commented on #265
@untitaker Ok, that's interesting. I can try downgrading but as we are hitting this problem only on our production environment it will take some time to test it. :)

[2019-05-24 13:54] pupeno commented on #356
On my local Django app it's not happening, but when I deploy to Heroku it does. Having defined an ADMIN makes Sentry not work at all.

[2019-05-27 07:01] zhangheng1442 commented on #265
Hi, I got the same problem in my environment. before I use sentry==9.0.0, everything is good .
But when i upgrade to  sentry==9.1.1, sentry-sdk==0.8.0 ,celery==3.1.18 , the log keep showing in the sentry worker logfile.
here are part of my logs:

02:55:13 [INFO] celery.worker.strategy: Received task: sentry.tasks.process_buffer.process_pending[872f532f-566f-4635-8e42-167d8d640ba9] expires:[2019-05

[2019-05-27 15:04] Keramblock commented on #228
Any news here?

[2019-05-27 15:21] untitaker commented on #228
@Keramblock Not really. @techdragon posted a nice setup for this, but I am not sure how to build something that works out of the box.

I believe this restores Raven's behavior, but it's unconfirmed:

[code]

[2019-05-27 18:28] thomasw commented on #265
@mentholi No, I wasn't seeing this behavior with `CELERY_ALWAYS_EAGER = False`. At least not that I can recall.

At this point, I don't believe the problem is related to directly `CELELRY_ALWAYS_EAGER`. In my case, with eager execution, the task triggering depth (tasks triggering tasks triggering tasks) is much higher. Without eager execution, it's significantly reduced. My guess would be that the

[2019-05-28 07:00] mentholi commented on #265
@thomasw Our case is also that we launch multiple tasks from one task. We have this only happening in production but that is probably due to amount of objects in database and how many tasks are triggered.

I think this has something to do with "nested tasks".

[2019-05-28 08:13] pupeno commented on #356
I just followed up, and it seems when I have the ADMINS and MANAGERS set up, both happen, the email and the Sentry report. I don't know why I was missing the Sentry report before. My apologies.

[2019-05-28 08:13] #356 closed

[2019-05-28 16:57] lazka opened #376 "hook threading.excepthook"
This new hook got added to Python 3.8 in https://github.com/python/cpython/pull/13515

[2019-05-28 17:05] untitaker commented on #376
We already catch crashing threads with `ThreadingIntegration` in a way that works across all Python versions. I don't think this is necessary until Python 3.8 becomes the minimal supported version by this SDK.

[2019-05-28 17:05] #376 closed

[2019-05-28 17:18] lazka commented on #376
Ah, right, thanks :)

[2019-05-28 19:37] islamgulov commented on #265
Basically in Celery 3 with `CELERY_ALWAYS_EAGER` apply_async method calls apply, and the same task object is passed to `sentry_build_tracer`, so CeleryIntegration keeps wrapping already wrapped task method.
[code]

The error can be reproduced by running the same task object in loop:
[code]

for example, the test passes if `if task.__call__.func_name != '_inner':` check is added to `sentry_build_tr

[2019-05-28 19:42] untitaker commented on #265
Wow, in hindsight that seems like a very silly mistake. Thanks, I will fix
this tomorrow!

On Tue, May 28, 2019, 21:37 Ilgiz Islamgulov <notifications@github.com>
wrote:

[2019-05-29 08:58] decaz opened #377 "Do not trim large extra data?"
Version 0.8.0 introduced trimming of large data. Is it possible not to trim extra data which I specify with `scope.set_extra(...)`?

[2019-05-29 11:23] wmonk commented on #373
Just to clear this up in case anyone else comes across this issue. I was being somewhat stupid checking the instance against the wrong class. Both `pymysql` and `sqlalchemy` export an `InternalError`, with the `sqlalchemy.InternalError` wrapping the `pymsql` one.

[2019-05-29 11:23] #373 closed

[2019-05-29 11:24] untitaker commented on #373
Thanks for the update, much apprechiated!

[2019-05-29 13:20] vaibhavmule opened #378 "Masonite support"
It would be great to have support for Masonite Framework

Masonite Repo: https://github.com/MasoniteFramework/masonite
Docs: https://docs.masoniteproject.com

[2019-05-29 13:52] untitaker commented on #378
That's interesting, I never heard of this framework. I see you're a core developer on it. Do you know who uses it in production?

[2019-05-29 13:57] vaibhavmule commented on #378
@untitaker I use it, for https://websiteopedia.com. I also use sentry for it. I have put up this issue if you guys are interested to have support for Masonite

[2019-05-30 12:23] saifelse opened #379 "SystemExit and KeyboardInterrupt no longer caught (regression from raven-python)"
The same reasoning as getsentry/raven-python#675 applies for sentry-python,
where gunicorn raising a SytemExit(1) is something we would like to capture
in Sentry, as it is unexpected behavior from the application.

[2019-05-30 18:58] untitaker commented on #378
Understood. I'd be happy to merge support for it, but I can't maintain it. This part of the SDK would have to be community-maintained.

[2019-05-30 19:01] untitaker commented on #377
That's not possible right now, but for now you can monkeypatch these two constants if you need to: https://github.com/getsentry/sentry-python/blob/e9a469be8f8589d3e97efdf870044216fd5680cb/sentry_sdk/serializer.py#L29-L30

[2019-05-30 19:02] untitaker commented on #377
Also related: https://github.com/getsentry/sentry-python/issues/344 https://github.com/getsentry/sentry-python/issues/335

[2019-05-30 19:47] untitaker commented on #265
See https://github.com/getsentry/sentry-python/pull/381

[2019-05-30 21:38] mmerickel commented on #303
It seems to me that sentry should only log unhandled exceptions that propagate out of the app. If people register exception views to deal with exceptions then it feels reasonable that they will `sentry_sdk.capture_exception` themselves if they wish. The simplest way to do this is monkeypatching just the `router.__call__` if that's possible.

[2019-05-31 07:19] #265 closed

[2019-05-31 07:40] untitaker commented on #303
I'll change this behavior to what you all suggested in 0.9.0

[2019-05-31 07:48] untitaker commented on #303
One quick question @goodspark, you don't see subtypes of `HTTPException` being reported to Sentry? That would be a hard bug as we intend to explicitly ignore those.

[2019-05-31 08:19] untitaker commented on #303
What do you think about this behavior: Capture exception if there's no errorhandler, *or* if the errorhandler returned a response with status code 500

[2019-05-31 08:50] anush0247 commented on #267
We are also facing the same issue

We are not getting the Django request data info in sentry console with updated sentry SDK

With old raven Django client, there is no issue about getting request data in sentry

We are getting request data in sentry console, only if there is some exception raised before our program did access the request.body

We are getting `can't read requst data once its alread

[2019-05-31 09:16] untitaker commented on #267
@anush0247 could you link an event that exhibits this behavior?

[2019-05-31 10:41] xuhcc opened #383 "Fingerprints are not working with logging"
With raven it was possible to group events using the **fingerprint** extra parameter:

[code]

After migration from raven-python to sentry-sdk such events are no longer grouped by sentry.

[2019-05-31 10:44] untitaker commented on #383
Do this:

[code]

[2019-05-31 11:12] xuhcc commented on #383
@untitaker Thanks!

[2019-05-31 11:12] #383 closed

[2019-05-31 17:21] rouge8 commented on #303
That makes sense to me.

[2019-06-01 15:02] #379 closed

[2019-06-01 18:26] #303 closed

[2019-06-01 18:26] untitaker commented on #303
Thanks for your patience, I'll release 0.9.0 next week.

[2019-06-01 18:27] untitaker commented on #265
0.8.1 is out with this bugfix. Thanks for your patience!

[2019-06-03 03:54] anush0247 commented on #267
@untitaker please find below link

https://sentry.io/organizations/backend-developers/issues/1054285117/?project=240166&query=is%3Aunresolved

[2019-06-03 08:50] untitaker commented on #303
0.9.0 is released

[2019-06-05 02:04] techdragon commented on #228
@untitaker I concur with your assessment that what you've just posted does restore the prior Raven behaviour, with the minor caveat that I'm not 100% sure about having both `EventHandler` and `BreadcrumbHandler` in the logging handler list, but that is only because I've only tested `EventHandler` on as a handler on its own.

[2019-06-05 07:30] bluetech opened #386 "Some code structures are not conducive to static typing"
This package now declares that it includes typings so I tried to whitelist it in one of my projects. Unfortunately I got various errors like `error: Module has no attribute "push_scope"` for `sentry_sdk.push_scope()`.

I haven't tried it but I suspect that dynamic code structures like

https://github.com/getsentry/sentry-python/blob/64ca9a97fcfe342b0ef080532b1b0574f8655d68/sentry_sdk/__init__.py#L

[2019-06-05 09:33] untitaker commented on #386
@bluetech I'd be happy to merge a PR that does this! For testing, could you add an `examples` folder with a simple script that imports the SDK and does some things with it? We could try to typecheck that example then.

[2019-06-06 12:36] sivakov512 commented on #220
Any solutions here?

[2019-06-06 12:46] untitaker commented on #220
@sivakov512 no, I would prefer if the community investigated how other code deals with aiohttp for reading bodies twice

[2019-06-06 15:47] xuhcc commented on #383
I found a way to keep existing logging calls intact by using a custom integration class with this log handler:

[code]

@untitaker Does it make sense to add a similar check directly to `sentry_sdk.integrations.logging.EventHandler`? I can create a PR.

[2019-06-06 16:00] millimat opened #387 "should_hide_frame fails to consider __hide_traceback__ in any frame with a __name__"
https://github.com/getsentry/sentry-python/blob/8b3de2c80e9c4bc23fe860855d63e6eb294e987d/sentry_sdk/utils.py#L211-L226

If `__name__` is in `frame.f_globals` and is a string, then no check for `__hide_traceback__` is ever performed, which effectively makes that variable unusable to hide a frame from a stacktrace.

[2019-06-07 08:26] #387 closed

[2019-06-07 09:18] untitaker commented on #383
No, sorry I don't want to discover random attributes from there anymore (all should just go into extra).

I added a small fix into master that will allow you to do this:

[code]

[2019-06-07 09:37] untitaker opened #390 "Building a community: Slack channel"
Some of our newer SDKs have active Slack channels for external contributors that want to get more involved into the SDK's development. I wonder if that's a good thing to have for Python's SDK as well.

[2019-06-07 09:41] untitaker commented on #363
Closing due to inactivity. Ping me when there's something left to discuss.

[2019-06-07 09:41] #363 closed

[2019-06-07 09:42] untitaker commented on #366
I hope this helped. I'll close this since this issue is becoming stale... ping me when there's something left to discuss

[2019-06-07 09:42] #366 closed

[2019-06-07 09:42] untitaker commented on #367
We're revamping the SDK docs at the moment and it's on the roadmap now

[2019-06-07 09:42] #367 closed

[2019-06-07 16:17] xuhcc commented on #383
I tried this with current master and it worked. Thank you!

[2019-06-08 10:00] bwesen commented on #350
I'm sorry to necro this, but I'm trying to figure out how to get the Sentry Django integration to pick up the X-Forwarded-For IP address (which seems to be set correctly) and not the Django nginx server's IP as it seems it does now (shown under the User IP in Sentry). I have no REMOTE_ADDR set under Environment.

I'm kind of at a loss figuring out where in the chain this issue occurs and if there

[2019-06-08 13:48] untitaker commented on #350
@bwesen we extract the IP address using this function: https://github.com/getsentry/sentry-python/blob/733662d417a7c272764baeeb41b947e5eccc1ad5/sentry_sdk/integrations/wsgi.py#L132-L149

As you can see `X_FORWARDED_FOR` should be picked up before the actual IP address.

Do you have any other request data in your events?

[2019-06-08 14:38] bwesen commented on #350
@untitaker  Thanks, I looked through the file you quoted and I think it's a misconfiguration where I didn't sent "send_default_pii=True" in the init-call of the sdk integration. Testing it now. Without that, the codepath you showed isn't called as far as I could see.

The funny thing is, the IP is still sent to Sentry (but in the HEADERS as the X-Forwarded-For) even with the pii option False then,

[2019-06-08 14:39] untitaker commented on #350
You're right, I will get on that.

[2019-06-10 10:26] #386 closed

[2019-06-11 09:39] JKtheUnique commented on #267
라고 쓰여있는게 있길래 이 사람은 cookiecutter-django 를 써서 뭔가 해결해서 자신에게는 closed 라고 하는걸로 알았어요

[2019-06-12 10:11] stianpr commented on #219
I finally got some time to look at this again (with 0.9.0) and I still don't get it to work. We still have the same setup of the sentry SDK with the two integrations: Flask and RQ. We still use Flask-RQ2 to boot up the server with `flask rq worker --sentry-dsn=""`. The initialization of sentry sdk is handled through flask when the app boots up.

So the issue is that: If I configure the scope insid

[2019-06-12 11:04] untitaker commented on #219
Do you know *when* `init` is called? Could you enable `debug=True` and tell me if all the additional output for "enabling integration" happens at worker startup or when the first job runs?

[2019-06-14 09:33] stianpr commented on #219
I log right after the `init`  is called. You can see the line in the log:  `[INFO]	<root>:  Sentry init called!`.
So it seems that enabling integration is called on bootup and that is before the job is executed. I raise an exception inside the job to trigger sending the exception to Sentry.

[code]

Does this give you anything?

[2019-06-17 12:00] untitaker commented on #219
Sorry, I can't make anything out of this. Could you share an issue that is missing user context and also paste the code of that job?

[2019-06-17 12:04] stianpr commented on #219
@untitaker I'll make a pull request instead. It might be easier for everyone that I use a fork and try to debug to find the issue.

I think the issue might have something to do with how "shared" scope works between the different integrations. Hopefully I will find out by the end of this week. I'll let you know of any updates.

[2019-06-18 17:52] aviv-ebates commented on #184
If this:
[code]

then why is `configure_scope()` a context manager? What does it do in its `__exit__` method?

[2019-06-18 18:04] untitaker commented on #184
@aviv-ebates nothing. it will be gone or at least superseded soon. configure_scope is a concept that didn't translate well to python from other languages

[2019-06-18 18:06] untitaker commented on #184
@cancan101 you can use before_send in either: https://docs.sentry.io/error-reporting/configuration/filtering/?platform=python#before-send

[2019-06-18 20:05] drnextgis commented on #303
Thanks! But amongst other test I'd like to have the following one (in `test_pyramid.py`):
[code]

[2019-06-18 20:15] untitaker commented on #303
ok, I'll add that.

[2019-06-19 03:59] anush0247 commented on #267
@untitaker any update ?

[2019-06-19 07:45] untitaker commented on #267
Still working on it, I think I know what the issue is. Thanks for the
information so far!

On Wed, Jun 19, 2019 at 5:59 AM Aneesh Kumar <notifications@github.com>
wrote:

[2019-06-19 14:54] amir-hadi opened #392 "gunicorn with gevent worker - is this supported?"
We see 'mixed' events in our Sentry installation. We recently activated the gevent worker for gunicorn, to get more concurrent requests (our service is highly IO dependent).

In the docs on sentry.io I couldn't find any documentation if gevent workers are supported or not.

I have seen some older tickets that state that it is not supported at all, but not sure if this is still the case? If it is n

[2019-06-19 15:21] untitaker commented on #392
@amir-hadi do you have the gevent monkeypatches enabled (i.e. gevent monkeypatching the stdllib)? Those are necessary for sure.

[2019-06-19 18:22] untitaker commented on #267
PR at #393... I am pretty sure the issue is with django-rest-framework and not Django.

[2019-06-19 21:28] amir-hadi commented on #392
To my knowledge the Gevent worker of Gunicorn is patching everything for us, [see this line in the Gunicorn source code](https://github.com/benoitc/gunicorn/blob/dc7b5d5c4876b49f86ea2460698a335d0f5ef7c9/gunicorn/workers/ggevent.py#L160).

[2019-06-19 22:09] untitaker commented on #392
Understood, in this case everything should be supported. At this point it becomes a bug. Which Python version is that?

[2019-06-20 10:56] NotSoShaby commented on #273
Any news on this issue? I get the same error

[2019-06-21 07:47] amir-hadi commented on #392
We are using Python 3.7.3 in our docker containers, but I am not sure if this is a bug on the UI or not. The code path we are seeing is impossible to reach for the API URL path visible in Sentry. Also, it seems like that impossible (for our system) combinations of Browser information is being done (okhttp client for native apps and Chrome for one of our management UIs).

Let me know how I can help

[2019-06-21 07:51] untitaker commented on #392
All of this is likely an artifact of leaking scopes. I will take a look
soon.

On Fri, Jun 21, 2019, 09:47 Amir Hadi <notifications@github.com> wrote:

[2019-06-21 08:04] #267 closed

[2019-06-21 08:35] untitaker commented on #392
@amir-hadi I think you're running into https://github.com/gevent/gevent/issues/1407, opened a PR

[2019-06-21 08:59] amir-hadi commented on #392
@untitaker This basically means we cannot do anything about it right now I guess.

[2019-06-21 08:59] untitaker commented on #392
@amir-hadi No, I will release a workaround in the SDK soon

[2019-06-21 10:22] ayushmittal opened #396 "Sentry events not being received"
I recently started using sentry for my Django Project. Everything was working fine in the development environment, but when i pushed it to prod, even though exception were getting thrown, but sentry wasn't reporting them on the dashboard. I tried enabling the debug setting in sentry config, and in the logs it said "Sending error event", but the event is still not being received.

Can someone help

[2019-06-21 11:02] untitaker commented on #396
After `sending error event` there might be extra log lines for whether it actually succeeded sending or not. For example you might see a 403 error.

[2019-06-21 11:15] ayushmittal commented on #396
No, actually nothing gets logged after that line

[2019-06-21 11:59] #392 closed

[2019-06-21 14:01] untitaker commented on #387
0.9.1 is out with this fix :)

[2019-06-21 14:02] untitaker commented on #267
0.9.1 is out with this fix :) I hope it fixes all cases, but certainly should fix a few of them

[2019-06-21 16:06] untitaker commented on #396
Actually I see you have created a SO question as well, let's debug there: https://stackoverflow.com/questions/56701574/sentry-not-receiving-exceptions

[2019-06-21 16:06] #396 closed

[2019-06-22 13:04] rollcat opened #397 "0.9.1 + pytest + DjangoIntegration + Django-REST-Framework: ImproperlyConfigured, missing SECRET_KEY"
Using Python 3.7. I have the following libraries installed, among others:
[code]
In my `settings.py`:
[code]
Starting the application via the builtin test server works fine. When invoking `pytest`, I'm getting the following error:
[code]

It's basically a kind of a circular import error.

It seems that this is due to the REST framework importing settings while settings are still being imported (bu

[2019-06-22 13:28] untitaker commented on #397
Thanks for the report, this is a bug in the SDK. I imagine that moving your
init code into `views.py` fixes the issue, but I'd recommend downgrading to
0.9.0.

I will fix this bug on Monday.

On Sat, Jun 22, 2019 at 3:04 PM Kamil <notifications@github.com> wrote:

[2019-06-23 14:42] #397 closed

[2019-06-23 15:17] untitaker commented on #397
0.9.2 has been released with a bugfix, thanks for your patience!

On Sat, Jun 22, 2019 at 3:28 PM Markus Unterwaditzer <markus@sentry.io>
wrote:

[2019-06-23 15:38] rollcat commented on #397
Perfect, just tested it, confirmed fixed. Thanks so much for a quick response!

[2019-06-23 15:45] #362 closed

[2019-06-24 11:00] sreedharbukya opened #399 "Event captured in before send but not sent to sentry dashboard"
I am using the latest version sentry-SDK with python3.

 I have configured my sentry as follows in settings.py

[code]
When some event got captured. I am able to check in log file for event in before_send.
But not received in actual sentry dashboard.

[2019-06-24 11:02] untitaker commented on #399
Could you pass `debug=True` to show if sending the event causes any errors?

[2019-06-24 11:04] sreedharbukya commented on #399
Thanks @untitaker , I got response

[code]

[2019-06-24 14:14] sagydr commented on #273
any fix coming out soon?

[2019-06-24 14:14] untitaker commented on #273
@sagydr @NotSoShaby I will look into this next week

[2019-06-25 06:41] sreedharbukya commented on #280
I have a similar issue with the latest version of sentry_sdk with self-managed sentry service.

[code]

This is the code which initializes my sentry. It works good with sentry.io.
but doesn't work with my managed sentry.[ABC].io domain.

Wondering what could be the issue. duplicate issue #399

[code]

[2019-06-25 13:59] anush0247 commented on #267
@untitaker I am getting circular settings import issue after upgrading to 0.9.1

please check below stack trace once

[code]

[2019-06-25 14:00] untitaker commented on #267
@anush0247 the issue has been reported as #397 and is fixed in 0.9.2 :)

[2019-06-25 17:05] untitaker commented on #280
@sreedharbukya this issue is about something very specific in the HTTP library we're using, so I wouldn't call this the same issue just because the symptoms are

[2019-06-25 19:35] xuhcc opened #402 "Exceptions in before_send are silenced"
Exceptions raised in `before_send` leave no trace in the logs (and event is not being reported to sentry).

[code]

[2019-06-25 19:37] untitaker commented on #402
Those exceptions are logged when you set `init(debug=True)`. Reporting to Sentry is an interesting idea though.

[2019-06-26 03:20] anush0247 commented on #267
@untitaker thank you it's working now

[2019-06-26 09:30] untitaker commented on #272
First step towards this in #401, but my god it's ugly.

[2019-06-26 10:42] untitaker commented on #402
@xuhcc still some kinks to be worked out. For example we probably don't want to call before-send again if it was causing issues. More generally we might not want to add any scope data at all?

[2019-06-26 14:55] xuhcc commented on #402
Yes, probably it's OK for internal errors.

For me, reporting of the original error is more important. If before-send fails, sentry-python should try to report an event nevertheless. From the user perspective, it is certainly better to get alert without additional info than to not get it at all (as it was in my case).

[2019-06-26 14:56] untitaker commented on #402
People use `before_send` to remove sensitive information so I think just skipping over that logic if it crashes is legally problematic for those users.

[2019-06-26 15:00] xuhcc commented on #402
Then yes, let's report only "internal" error.

[2019-06-26 15:01] untitaker commented on #402
I think we need to shortcut a lot of logic for reporting internal errors, as it can happen that we still report the entire event with sensitive information as part of local variables.

Either that or we decide to print crashes out regardless of `debug=True`, that would probably be easiest.

[2019-06-27 17:46] whatisaphone opened #403 "Attach a custom message to an exception event"
I'm migrating a project from raven. In a couple places, we send exceptions that have a custom message. The old code looked like this:

[code]

Such events are supported by Sentry-the-server just fine. The message is displayed before the stack trace:

![Message, then exception](https://i.imgur.com/1s37yeY.png)

I can't find a way to do this in the new SDK. Is there something I missed?

[2019-06-27 17:50] untitaker commented on #403
You can use a regular logger:

[code]

If you really want `info` as level, you can do:

[code]

[2019-06-27 18:42] whatisaphone commented on #403
Oh of course, that'll do it.

Thanks for the quick answer!

[2019-06-27 18:42] #403 closed

[2019-06-28 09:26] stianpr commented on #219
Ok I managed to debug some more now and I added a `_name_` on the scope that the RqIntegration uses to see that I'm not accessing the correct scope when calling `configure_scope()`  inside the job.

This is a dump of the scope i get from within `configure_scope()` context inside the job:
[code]

This is a dump of the scope stack within `configure_scope()` context inside the same job:
[code]

If I

[2019-06-28 09:37] untitaker commented on #219
@stianpr it works exactly how you assumed it works before you started to investigate this :) `configure_scope` should use the last item in the scope list, but that list item seems to be completely wrong in your case.

Could you try upgrading to 0.9.1? I think this comment might be relevant: https://github.com/getsentry/sentry-python/commit/f2d563798eb002ca2d22ee6e44467b943298d223

But even then I

[2019-06-28 09:45] stianpr commented on #219
I'm already on 0.9.2 now while testing.

We use gevent there also yeah. Could that be the case? I can try to disable it and see.

[2019-06-28 09:55] untitaker commented on #219
Are you using a different RQ worker class than the default one? We ran zero
tests with any other package that is out there.

On Fri, Jun 28, 2019 at 11:45 AM Stian Prestholdt <notifications@github.com>
wrote:

[2019-06-28 10:01] stianpr commented on #219
We're using the default that  [Flask-RQ2](https://github.com/rq/Flask-RQ2/blob/17.0/src/flask_rq2/app.py#L49) is providing, and that is `rq.worker.Worker`.

[2019-06-28 11:38] untitaker commented on #219
Okay, that worker class sounds fine. Could you still try to disable
gevent/eventlet *everywhere* and see if it fixes any of the issues?

On Fri, Jun 28, 2019 at 12:01 PM Stian Prestholdt <notifications@github.com>
wrote:

[2019-06-28 16:08] luozhaoyu opened #404 "0.9.3 Sentry init function may have a ValueError bug"
https://github.com/getsentry/sentry-python/compare/0.9.2...0.9.3

[code]
Currently 0.9.2 works for us

[2019-06-28 16:14] untitaker commented on #404
I assume you pass a unicode string as DSN on Python 2, and that's why it broke. Sorry, will release a new version.

[2019-06-28 16:25] luozhaoyu commented on #404
@untitaker interesting, I just copy the DSN from https://sentry.io/settings/myorg/projects/myproject/keys/
which looks like:
`https://abcdefghijklmnopqrstuvwxyz1234@sentry.io/123456`
And yes, we are still on Python2 currently

[2019-06-28 16:28] untitaker commented on #404
@luozhaoyu I assume you have `from __future__ import unicode_literals` at the top of the file or something like that

[2019-06-28 16:29] luozhaoyu commented on #404
good point. I only did `import absolute_import`, sure I should also do that in case

[2019-06-28 16:31] untitaker commented on #404
@luozhaoyu That's not necessary, I thought that you have the `unicode_literals` import already and that's why it broke. Could you try the master branch? I believe I fixed it either way.

[2019-06-28 16:39] luozhaoyu commented on #404
@untitaker thanks for the update. While we are discussing this incident now, we may just stay with 0.9.2 and not always make our lib stay with the latest release from now on

[2019-06-28 16:41] untitaker commented on #404
That's sad to hear but understandable. We do aim for stable releases.

On Fri, Jun 28, 2019, 18:39 Luo Zhaoyu <notifications@github.com> wrote:

[2019-06-28 17:30] #404 closed

[2019-06-28 17:30] untitaker commented on #404
0.9.4 is released, sorry for the inconvenience

On Fri, Jun 28, 2019 at 6:41 PM Markus Unterwaditzer <markus@sentry.io>
wrote:

[2019-06-28 18:39] epingolt opened #405 "inspect.getargspec() is deprecated since Python 3.0"
Since release 0.9.3 this method raises a DeprecationWarning in Python3:

`.../sentry_sdk/consts.py:61: in _get_default_options`
`    a = inspect.getargspec(ClientConstructor.__init__)`
`.../python3.6/inspect.py:1078: in getargspec`
`    DeprecationWarning, stacklevel=2)`
`E   DeprecationWarning: inspect.getargspec() is deprecated since Python 3.0, use inspect.signature() or inspect.getfullargspec(

[2019-06-28 18:46] #405 closed

[2019-06-28 18:48] untitaker commented on #405
Thanks, I will release 0.9.5.

[2019-06-28 18:50] epingolt commented on #405
Wow, that's quite a response time. Thank you!

[2019-06-28 21:29] luozhaoyu commented on #404
Thank you Markus!

[2019-07-01 07:26] sagydr commented on #273
@untitaker  any news regarding this issue? Thanks

[2019-07-01 15:53] horida opened #407 "Restrict context information variables"
"Context": When sending an exception to sentry.io also information about the variables is send. For example, for the following code
[code]
we get, appart from the exception traceback, also information about the `an_instance` object. Basically it depends on how `MyClass.__str__` is defined. This is because the method `sentry_sdk.util.safe_repr` calls it.

In this example, also the secret could be s

[2019-07-01 15:55] untitaker commented on #407
What's wrong with [before-send](https://docs.sentry.io/learn/filtering/?platform=python#before-send) for this? You can modify everything in the payload we send to Sentry.

[2019-07-01 15:57] horida commented on #407
It's really hard to dive into the event in order to get to the information. Furthermore, you only have the repr return value there, not the object.

[2019-07-01 16:00] untitaker commented on #407
ok then we still have `sentry_sdk.serializer.add_global_repr_processor` which should satisfy your usecase. I think it's practically stable (documentation story is a broader issue which we hope to tackle this year). Usage example here:

https://github.com/getsentry/sentry-python/blob/b72292c3575c0b115bb684f1f374fa333e365a78/sentry_sdk/integrations/django/__init__.py#L175-L200

[2019-07-02 09:12] horida commented on #407
Thanks for the blazing fast answer @untitaker !

Yes, that does the job. It took me a while to figure out the flow but in the end this snipped does the job for me:
[code]

I will close the Issue.

[2019-07-02 09:12] #407 closed

[2019-07-02 12:08] hedleyroos opened #408 "Django configuration fails when using Django Rest Framework"
The instructions at https://docs.sentry.io/platforms/python/django/ suggest putting the Sentry configuration into `settings.py`.; however, when using DRF Sentry SDK has extra logic that may cause an "apps aren't loaded yet" error.

The solution is to simply move the configuration into the `ready` method of your AppConfig. That avoids any pitfalls and is safe to use in all cases, provided your Djan

[2019-07-02 12:56] untitaker commented on #408
I think this bug has been fixed in 0.9.2 (#397)

[2019-07-02 13:04] untitaker commented on #408
@hedleyroos calling `init` in AppConfig.ready might prevent errors of the first HTTP request from being captured. We heavily monkeypatch Django (and really everything we integrate with) and the earlier we get to do it the better.

[2019-07-03 00:57] ahlgorithm opened #409 "Sequence trimming logic is confusing"
It's not clear in the UI that "long" sequences are being intentionally trimmed. For example, `map(str, range(20))` results in the following:

![Screen Shot 2019-07-02 at 8 51 42 PM](https://user-images.githubusercontent.com/3722355/60555503-39b6e780-9d0b-11e9-914c-43f6d4d94028.png)

It wasn't clear to me that the list was intentionally trimmed until I stumbled across #344.

Adding ellipses in thes

[2019-07-04 09:28] untitaker commented on #409
I agree, we should fix this in the UI (the data that this array has been trimmed is already in the event payload)

[2019-07-04 12:31] #408 closed

[2019-07-04 21:20] #192 closed

[2019-07-05 11:59] aniforprez opened #411 "SDK is using "logging" mechanism for uncaught exceptions in Flask app with Flask integration"
I've used the FlaskIntegration step as described in the documentation but clearly I'm doing something wrong because sentry.io still recommends I use the flask integration at the bottom of error messages and the mechanism is always "logging".

The SDK used to work properly when configured with raven

[2019-07-05 12:27] untitaker commented on #411
@aniforprez could you post some code, when you init what?

[2019-07-05 12:34] aniforprez commented on #411
Here's how I'm initializing the sentry SDK

[code]

But the tags in Sentry show up as follows

![image_blur_Screenshot from 2019-07-05 18-00-21](https://user-images.githubusercontent.com/993132/60722686-49267280-9f4f-11e9-9eef-72a35a58db8c.png)

with the "We recommend you enable the 'flask' integration" at the bottom. Do you need any more info on this?

[2019-07-05 12:38] untitaker commented on #411
Could you share one of those events (just post the URL you visit, not the share URL)? I am just poking in the dark right now as to what the issue is and also what kind of data I actually need to debug it.

[2019-07-05 12:40] aniforprez commented on #411
https://sentry.io/organizations/esthenos-qn/issues/1099335900/?project=1360851&query=is%3Aunresolved

Is this sufficient? Once again terribly sorry for making it difficult for you. I'm quite confused as well because I'm quite sure we're doing something wrong but I have no idea what it is

[2019-07-05 12:43] untitaker commented on #411
No worries, it seems like a bizzarre issue. Could you check what happens with `init(debug=True)`? It should tell you what integrations it's going to enable

[2019-07-08 08:47] aniforprez commented on #411
Hey I'm terribly sorry for potentially wasting your time. I figured it out. The problem was that I was initialising sentry_sdk with flask once but there was separate code tat was running with only the celery integrations that was overriding these settings. I'll close this issue. Thank you so much for your help!

[2019-07-08 08:47] #411 closed

[2019-07-08 09:12] untitaker commented on #411
Yeah I would just use the same `init()` everywhere. It will enable integrations that you don't need (and import celery in your web workers even though there's no need), but it's just easier to reason about

[2019-07-08 09:18] aniforprez commented on #411
Yes the cost of the unnecessary integrations is negligible in favor of all our exceptions being captured accurately with the related data available

[2019-07-08 12:02] tirkarthi opened #415 "Collections.abc deprecation warning"
The below line generates a warning regarding importing from collections.

https://github.com/getsentry/sentry-python/blob/7c4683f0cd2a32738ba5e22c4a9bc6040ea13f15/sentry_sdk/tracing.py#L27

[code]

This can be fixed like similar fix done in other file

https://github.com/getsentry/sentry-python/blob/44b8949fe2ff0f6319dd586d15c3e76b239971d6/sentry_sdk/serializer.py#L30-L37

[2019-07-08 12:06] untitaker commented on #415
Thanks, since this has happened twice now I am working on a bigger fix for this in https://github.com/getsentry/sentry-python/pull/416

[2019-07-09 00:51] hartror opened #417 "Tracing Popen monkey patch breaks environment"
In `0.10.0` the new tracing functionality wipes the environment for subprocesses.

As calls to `_get_argument` modify input (surely an anti-pattern) the subprocess call becomes `POpen(..., env={sentry trace values only})` which wipes the environment from the parent process.

https://github.com/getsentry/sentry-python/blob/ca0ba7f6c417d9ce7ee157149ddddce5add893a9/sentry_sdk/integrations/stdlib.py#L

[2019-07-09 03:15] untitaker commented on #417
Thanks for the bugreport, we will fix this today!

[2019-07-09 11:03] EasyLovv commented on #220
@untitaker
The aiohttp does a cache of the body in bytes on the first read call. [BaseRequest.read()](https://github.com/aio-libs/aiohttp/blob/master/aiohttp/web_request.py#L558-L573)

[2019-07-09 11:16] EasyLovv commented on #220
@untitaker
I could be out of the concept, by from the processor you could get a loop and create async task which will get the body and send it to sentry. something like this:
`from aiohttp import web
    import asyncio

    loop = asyncio.get_event_loop()

    async def async_task(request: web.Request):
        body = await request.read()
        # send to sentry

    def processor():
        loop

[2019-07-09 17:36] #415 closed

[2019-07-09 18:39] #417 closed

[2019-07-09 19:11] untitaker commented on #417
0.10.1 has been released!

[2019-07-09 19:16] untitaker commented on #220
@EasyLovv that sounds a bit dangerous. I wonder if we should just grab `request._post` and `request._read_bytes` if it's already there, and just do nothing if it isn't.

[2019-07-09 23:17] astutejoe opened #419 "Django channels + ASGI leaks memory"
I expended around 3 days trying to figure out what was leaking in my Django app and I was only able to fix it by disabling sentry Django integration (on a very isolated test using memory profiler, tracemalloc and docker). To give more context before profiling information, that's how my memory usage graph looked on a production server (killing the app and/or a worker after a certain threshold):
![i

[2019-07-09 23:39] astutejoe commented on #419
Identifying a memory leak makes me a contributor? :/

[2019-07-10 09:41] danielkrich commented on #273
I'm experiencing the same thing 😞
Is there a fix available?

[2019-07-10 16:46] mumumumu opened #421 "Enforce functools.wraps on all monkeypatches"
I'm using [`celery-once`](https://github.com/cameronmaske/celery-once) to make sure some tasks are only run one at a time. The lock is acquired in `apply_async` and released in `after_return`.

When I use the `CeleryIntegration` I'm not seeing any of the locks being released after the task has finished running. I'm not very familiar with the inner workings of celery, but any ideas what's going on?

[2019-07-10 16:50] untitaker commented on #421
Do you see this bug in Raven-Python? Raven uses official Celery hooks while this SDK aggressively (for lack of a better word) monkeypatches Celery to capture exceptions happening in hooks, and to work around some bugs in Celery 3.

[2019-07-10 17:47] mumumumu commented on #421
I think I've narrowed it down to an issue with `celery-once`. The library uses the task name and call arguments from the `run` method (using `inspect.getcallargs) to generate the lock key. It generates the key both when acquiring and releasing the lock. It seems the arguments before and after the task gets patched are slightly different (the wrapper takes in optional args).

I don't think this is

[2019-07-10 17:48] untitaker commented on #421
@mumumumu if it's a missing functools.wraps somewhere we can fix it in the SDK as well, no big deal

[2019-07-10 18:09] mumumumu commented on #421
Thanks @untitaker, that'd be much appreciated. Adding a `@wraps(f)` to the `_wrap_task_call` `_inner` function does fix the issue for me.

[2019-07-10 18:10] untitaker commented on #421
We should do this everywhere then. Monkeypatches are quite inconsistent across the codebase.

[2019-07-10 22:01] TheTechmo opened #422 "Sentry capturing excepted error"
My application is raising BadArgument and it's getting caught by a try except but sentry is still capturing it.

[code]

Then one level up...

[code]

BadArgument is a child of CommandError.

[2019-07-10 22:04] untitaker commented on #422
Please show the full code. Sentry categorically cannot capture exceptions that have been caught down unless the `except` block does something else.

[2019-07-10 22:06] TheTechmo commented on #422
https://github.com/Rapptz/discord.py/blob/master/discord/ext/commands/core.py#L338

[2019-07-10 22:07] untitaker commented on #422
[code]

This re-raises the exception. Works as expected.

[2019-07-10 22:07] #422 closed

[2019-07-11 02:12] GuangTianLi opened #423 "Exception: raise OSError("handle is closed")"
When I initialized sentry_sdk and used concurrent.futures.process.ProcessPoolExecutor, the exception will be raised after python exit.

[code]

The exception:
[code]

[2019-07-11 09:07] untitaker commented on #423
Thanks for the report, I can reproduce this but have no idea what is happening.

[2019-07-11 09:56] AdamLeyshon commented on #390
I would certainly be interested in joining it.

[2019-07-11 10:06] untitaker commented on #390
@AdamLeyshon cool, send me an email at markus@sentry.io to get an invite!

[2019-07-11 21:20] untitaker commented on #419
Could you try a different wsgi server? I cannot reproduce any of this with uwsgi or django's devserver.

[2019-07-11 21:29] astutejoe commented on #419
That might be the thing then, I'm actually using ASGI, tried the three options available, Daphne, Hypercorn and Gunicorn+Uvicorn.

[2019-07-11 21:32] untitaker commented on #419
Oh you're using Django from a development branch and run on ASGI? That might be not the same issue @reupen is seeing at all then.

[2019-07-11 21:35] astutejoe commented on #419
I'm absolutely not using Django from a development branch, I'm using Django Channels.

[2019-07-11 21:46] untitaker commented on #419
got it. we never tested with channels, but have support/testing on our roadmap. the memory leak still shouldn't happen. we'll investigate but it could take some time.

[2019-07-12 02:47] astutejoe commented on #419
Feel free to reach me for any further clarifications, I'm happy to help and appreciate your efforts nonetheless 👍

[2019-07-12 10:15] untitaker commented on #419
Yeah, I can repro it with a random channels app that just serves regular routes via ASGI + hypercorn (not even any websockets configured)

So far no luck with uvicorn though. Did you observe faster/slower leaking when comparing servers?

[2019-07-12 10:28] untitaker commented on #419
I understand the problem now, and can see how we leak memory. I have no idea why this issue doesn't show with uvicorn but I also don't care.

It's very simple: For resource cleanup we expect every Django request to go through `WSGIHandler.__call__`. This doesn't happen for channels.

I think you will see more of the same issue if you try to set tags with `configure_scope()` in one request. They sh

[2019-07-12 10:37] tomchristie commented on #419
I haven’t parsed all this, but I’ll comment on this one aspect...

ASGI 3 is baked and done. You’re good to go with whatever was blocked there.

[2019-07-12 10:38] untitaker commented on #419
I don't think this helps in this particular situation because the latest version of channels still appears to use a prev version (had to pin down sentry-asgi)

[2019-07-12 10:43] untitaker commented on #419
@tomchristie I want to pull sentry-asgi into sentry. Do you think it would be possible to make a middleware that behaves as polyglot ASGI 2 and ASGI 3?

[2019-07-12 10:54] tomchristie commented on #419
Something like this would be a "wrap ASGI 2 or ASGI 3, and return an ASGI 3 interface" middleware...

[code]

Alternatively, you might want to test if the app is ASGI 2 or 3 first, and just wrap it in a 2->3 middleware if needed.

[code]

Or equivalently, this class based implementation, that Uvicorn uses: https://github.com/encode/uvicorn/blob/master/uvicorn/middleware/asgi2.py

[2019-07-12 13:34] reupen commented on #419
The main problem I observed was an increase in memory usage over time of a long-running (tens of minutes) Celery task (which has lots of Django ORM usage). I haven't had a chance to do any traces, but I'll create a new issue when I do.

[2019-07-12 13:55] EasyLovv commented on #220
@untitaker it is also an option, would be great to have at least that. But in my view, I can't see anything dangerous, we are just reading the request body, any unsupported behavior or type could be covered by try-catch and posted to sentry with some additional "Unsupported body" tag etc.

[2019-07-12 14:06] untitaker commented on #220
@EasyLovv my issue is that I need the request body as string in the processor. I can't just spawn a task and return. So I block for `async_task` in `processor`, which ends up behaving like a blocking sync operation in `async_func`. Not cool for performance.

[2019-07-12 20:52] reupen opened #430 "Accumulating memory usage with 0.10.x"
Following on from a discussion in #419, I am seeing increased memory usage over time with version 0.10.x.

In particular, I was hitting out-of-memory conditions with a long-running Celery task that uses the Django ORM.

I used [`tracemalloc`](https://docs.python.org/3/library/tracemalloc.html) to take snapshots at the beginning and end of the task.

Under 0.10.1, here are the top 20 differences be

[2019-07-13 08:02] untitaker commented on #273
I looked into this and I would recommend to either switch to greenlet workers for gunicorn or to disable eventlet monkeypatching for the queue module for now. What eventlet does to the queue module seems to be done very carelessly and breaks the stdlib's API in other places already. The fix I have right now would mean copying half of the queue implementation from the stdlib into the SDK.

[2019-07-13 08:07] untitaker commented on #430
That's correct. This is obviously wrong now that I think about it, thanks for raising this! We will have a fix next week.

[2019-07-15 11:53] untitaker commented on #220
@EasyLovv do you want to make a PR for this so people can try it out?

[2019-07-15 11:55] untitaker commented on #419
@astutejoe When 0.10.2 comes out, you can do this to fix your leaks: https://github.com/getsentry/sentry-python/blob/ce3b49f8f0f76939d972868f417dcf9ef78758aa/tests/integrations/django/myapp/asgi.py#L19

[2019-07-15 12:04] untitaker commented on #421
Since this is blocking you I'll just get a minimal fix out of the door.

Proper wrapping will likely take more effort (possibly using wrapt instead of functools).

[2019-07-15 15:12] #421 closed

[2019-07-15 15:12] #430 closed

[2019-07-15 16:54] astutejoe commented on #419
Hey! that sounds great @untitaker I will try it eventually, thanks for your time!!!

[2019-07-15 17:50] WhyNotHugo opened #433 "Celery exceptions are logged twice"
All my celery exceptions get logged twice. I _think_ this might be related to #124, but I'm not honestly sure.

This is my setup:

[code]

Each event get logged twice, however, one copy says `mechanism=logging, handled=yes`, and the other `mechanism=celery, handled=no`.

This did not happen with raven, but happens every time with the newer sentry client.

[2019-07-15 17:51] untitaker commented on #433
Hey @WhyNotHugo, what is the name of the logger? It should be in a tag called `logger`.

[2019-07-15 17:53] WhyNotHugo commented on #379
Huh, I've the opposite issue: raven did not log this, but the new client does.
However, I don't want this logged, since it doesn't make sense to me (the system will exit on every deployment, and that can happen way too many times).

Is there any way to avoid logging `SystemExit`? It doesn't make sense to me, and is filling my sentry issues board.

[2019-07-15 17:55] untitaker commented on #379
@WhyNotHugo can you confirm those events have the wsgi mechanism?

[2019-07-15 18:37] untitaker commented on #419
0.10.2 is released with the new ASGI Middleware! No documentation yet, will
write tomorrow

On Mon, Jul 15, 2019, 18:54 Gabriel Garcia <notifications@github.com> wrote:

[2019-07-15 18:41] tomchristie commented on #419
Nice one. 👍

[2019-07-15 18:42] untitaker commented on #430
0.10.2 is out and hopefully fixes this issue?

[2019-07-16 07:45] WhyNotHugo commented on #379
Yes, they all do.

[2019-07-16 07:52] untitaker commented on #379
Hmm, from what I know this means you abort gunicorn while it is handling a request and that might be the wrong way to shut it down.

In any case you can explicitly ignore this error like any error class with this here: https://github.com/getsentry/sentry-python/issues/149#issuecomment-434448781

[2019-07-16 07:53] untitaker commented on #433
To be clear, what I suspect is going on here is that one of these events is celery logging a stringified version of your exception. We already deduplicate error events by exception identity (so even explicitly calling capture_exception twice on the same exception object only gives you one event).

[2019-07-16 08:43] WhyNotHugo commented on #433
One of the events have `logger=celery.app.trace`. The other doesn't specify a logger.

Would the event JSON help? I can strip out the few sensitive details of it and included, if useful.

[2019-07-16 08:44] WhyNotHugo commented on #379
Hmmm... let me double check, I believe we're killing gunicorn gracefully, but I might be wrong.

[2019-07-16 08:49] WhyNotHugo commented on #379
Yeah, looks like docker was killing them before gunicorn's internal grace period, I'll tweak that and it should solve it for me. Thanks.

[2019-07-16 08:51] WhyNotHugo commented on #433
Hmm... odd that this did not happen with raven. Any ideas on how to work around it?

[2019-07-16 08:54] untitaker commented on #433
@WhyNotHugo This happens because the new Python SDK intercepts all loggers more aggressively compared to Raven. It's possible that Raven didn't capture errors from that logger even if they were legitimate.

You can work around it by ignoring the logger: https://docs.sentry.io/platforms/python/logging/#ignoring-a-logger

If this is on SaaS feel free to post a link here, otherwise, yes, the JSON wou

[2019-07-16 09:04] untitaker commented on #419
Please watch this PR, when it is merged the docs are automatically live:
https://github.com/getsentry/sentry-docs/pull/1118

On Mon, Jul 15, 2019 at 8:41 PM Tom Christie <notifications@github.com>
wrote:

[2019-07-16 09:08] WhyNotHugo commented on #433
Alright, I can ignore the logger, that works for me.

If you feel it's worth inspecting this to avoid sentry duplicating in the first place, here's a set of events that are actually the same:

https://sentry.io/organizations/hobarrera/issues/1108917799/?query=is%3Aunresolved
https://sentry.io/organizations/hobarrera/issues/1108917797/?query=is%3Aunresolved

[2019-07-16 09:20] untitaker commented on #433
I don't quite understand what happens here but it seems that those two exceptions have slightly different stacktraces (one has extra frames at the bottom). I assume that something in Celery pickles an exception, unpickles it and reraises it.

[2019-07-16 10:43] GuangTianLi commented on #423
The reason caused this problem is very interesting and I proposed a solution to fix it.  But I think it is a little trick, I think it is great if there is any more elegance way to resolve it.

[2019-07-16 20:20] untitaker commented on #419
docs are deployed, this is basically fixed. New docs for ASGI are live on https://docs.sentry.io/platforms/python/asgi/

[2019-07-16 20:20] #419 closed

[2019-07-16 20:20] untitaker commented on #162
0.10.2 adds an ASGI middleware: https://docs.sentry.io/platforms/python/asgi/

[2019-07-16 20:20] #162 closed

[2019-07-16 20:49] WhyNotHugo opened #435 "Warnings get logged twice"
I've my app set to log warnings (and sentry set to record these). However, since upgrading from raven to sentry-sdk, I'm seeing al warnings logged twice.

They both, however, seem to have the same logger, and no mechanism.

This is my setup:

[code]

Example pair:
https://sentry.io/organizations/hobarrera/issues/1114050006/?query=is%3Aunresolved
https://sentry.io/organizations/hobarrera/issues/111

[2019-07-16 20:52] WhyNotHugo commented on #433
Hmm... I see. I can't say I've very any good insight on this.

Yes, it seems that `celery` picks up the exception, and trims two items from the stacktrace (probably to make it more friendly for developers).

I'm curious though: if the initial exception get caught before it's re-thrown, why does Sentry actually pick it up? Isn't it "just another handled exception"?

[2019-07-17 03:38] lorinkoz opened #436 "Problem with Popen arguments passed as map"
Greetings!

I am having an issue when using the package `sorl.thumbnail` on a Django project. That package produces thumbnails from images using system installed programs (called engines.)

When `sorl.thumbnail` makes a `Popen` call here:

https://github.com/jazzband/sorl-thumbnail/blob/22ccd9781462a820f963f57018ad3dcef85053ed/sorl/thumbnail/engines/convert_engine.py#L57

The arguments that are re

[2019-07-17 13:23] lorinkoz commented on #436
The problem is basically here:

https://github.com/getsentry/sentry-python/blob/2c0a2ea96882adf69742bd7e79e588564ff5b85c/sentry_sdk/integrations/stdlib.py#L160

The `args` (which is the object reference of the original arguments and not a copy) is walked entirely, thus "depleting" the `map` object. Next time the map is called inside the original `Popen`, it is interpreted as an empty iterable.

[2019-07-17 15:25] msamoylov opened #438 "sentry-sdk is being suppressed by the Elastic APM"
We have both sentry-sdk and [apm-agent-python](https://github.com/elastic/apm-agent-python) installed. For some reason our [Django configuration](https://docs.sentry.io/platforms/python/django/) has stopped capturing any view errors, but Celery is still fully covered.

Any ideas how to fix that?

[2019-07-17 16:33] untitaker commented on #438
Are you saying that you no longer seeing Django errors in Sentry after adding Elastic's APM agent?

[2019-07-17 16:35] msamoylov commented on #438
@untitaker yes, we're seeing zero events for views. I suppose their middleware prevents Sentry from tracking view errors.

[2019-07-24 07:46] karliy opened #441 "logging breadcrumb collection time is incorrect"
![sentry](https://user-images.githubusercontent.com/28345280/61774444-71f0a800-ae29-11e9-8074-f3c88154b432.png)

I found the breadcrumbs timestamp converted to the local time zone
datetime.datetime.fromtimestamp(record.created)

[2019-07-26 00:11] fitzoh opened #442 "sentry-sdk is being suppressed by Honeycomb beeline (Django)"
In a similar vein to #438 , it looks like the honeycomb.io agent ([beeline-python](https://github.com/honeycombio/beeline-python) ([beeline issue](https://github.com/honeycombio/beeline-python/issues/71))) is preventing sentry from reporting.

Details:
I'm activating sentry in the top of settings.py ([docs](https://docs.sentry.io/platforms/python/django/))
[code]

beeline is being initialized in t

[2019-07-27 05:31] elcolie opened #443 "jazzband django push notification using DEBUG=True"
This is my [issue](https://github.com/jazzband/django-push-notifications/issues/510) with `push notification`.

**Problem:**
With `DEBUG=True`. My server will not send out the crash report to `sentry.io`, but my server can do push notification to iOS.

**Question:**
How can I activate sentry agent in my server, but keep using `DEBUG=True`?
If it no such a thing. May I request a dedicated variable

[2019-07-27 05:41] untitaker commented on #443
The sdk reports errors even with debug=True, so this is a bug then. Could you tell me the Django version and if removing push notifications fixes the problem?

[2019-07-27 10:38] elcolie commented on #443
@untitaker
Confirm that regardless of `DEBUG=True/False`. My server always sends the report
I have test with simple URL

[code]
![image](https://user-images.githubusercontent.com/18206728/61993112-1de7fc80-b091-11e9-920b-fa5016710089.png)

`django==2.2.3`

After remove `push_notification` from my `pyenv`. `Sentry` works like expected
`DEBUG=True` no report sent out
`DEBUG=False` has a report
![ima

[2019-07-29 13:51] roksys commented on #184
Can I use `before_send` for setting custom tag? I have the following code and it doesn't set the tag, or at least it is not visible in the issue. Am I missing something?

[code]

[2019-07-30 12:03] WilliamMayor commented on #436
I experienced this with Django's collectstatic command running pysassc. I had to downgrade to version 0.9.5 (the last working version I'd used) to get my Heroku deploys to start working again.

[2019-07-31 01:05] fitzoh commented on #442
Figured it out on the honeycomb side, don't think there's anything to do here.

[2019-07-31 01:05] #442 closed

[2019-07-31 16:06] untitaker commented on #442
@fitzoh what was the fix?

[2019-08-01 00:08] fitzoh commented on #442
Following [this portion](https://docs.honeycomb.io/getting-data-in/python/beeline/#using-the-python-beeline-with-gevent) of the honeycomb docs:

---

<img width="719" alt="Screen Shot 2019-07-31 at 12 30 07 PM" src="https://user-images.githubusercontent.com/131809/62230048-fb0a6080-b38e-11e9-9970-dd1937b0ae3f.png">

The late gevent monkeypatching was causing honeycomb reporting to fail with a `Rec

[2019-08-01 07:26] jarshwah opened #445 "Allow the IP address to be collected even if `send_default_pii=False`"
We're in a situation where it's extremely difficult to track how many customers are affected by an issue since the IP Address is always being logged as our load balancer. This may be a separate issue that I'll look into more closely.

Still, I think lumping in the client ip address with headers like the cookie is overkill. An IP address is extremely useful for debugging issues even when we don't w

[2019-08-02 15:16] Siecje commented on #409
I see an ellipse on the Sentry hosted issue page.

[2019-08-05 08:03] untitaker commented on #442
That's bizarre, thanks for figuring this out!

[2019-08-05 08:04] untitaker commented on #438
Considering how #442 was closed, can you tell me the WSGI server you're using?

[2019-08-05 09:41] untitaker commented on #441
Thanks, yes this is a bug. Will fix this week!

[2019-08-05 11:57] untitaker commented on #435
Sorry, I dropped the ball on this. Do you mean that those two issues are duplicates of each other and that all events of both issues should be grouped together? The reason it doesn't do *that* is because of a different message value in the log record (see "Similar issues" and the diff it shows)

[2019-08-05 12:02] untitaker commented on #445
I think I saw your question on the forum already, and the answer is that using either the datascrubber settings in the UI or a custom `before-send` hook together with `send_default_pii=True` seems like the best option right now.

Alternatively attach the IP address explicitly to the event like this:

[code]

Unfortunately I don't have a better solution for you right now.

[2019-08-05 12:06] untitaker commented on #184
if you want to set a tag in `before_send`, scopes cannot be used.

I suggest doing this in your request handler:

[code]

[2019-08-05 17:07] miracle2k commented on #146
So I am struggling with this, and in particular I have this sort of code, which I think is a standard Flask way of creating re-usable app objects:

[code]

I am not sure where I am supposed to be calling `sentry_sdk.init()`. It would be wrong inside `create_app()`, since I do not want to apply it globally.

To be fair, it is rare that I want to have to instances of the app in the same process repo

[2019-08-05 17:14] miracle2k opened #450 "logbook Integration"
The old raven client integrated with logbook. Is this planned for the new SDK as well?

[2019-08-05 18:40] untitaker commented on #146
Hmm, I came up with this:

[code]

Admittedly this took a little thinking on my part, and I am not particularly happy about the solution either. But I think it's the simplest one.

[2019-08-05 18:50] untitaker commented on #450
It's not planned yet but if people are asking for it we will prioritize of course.

[2019-08-06 09:03] untitaker commented on #436
I think it would make sense to report this against the upstream projects that cause these problems as well. As far as I understand it's not legal to pass the return value of `map(.., ..)` to `subprocess.Popen`, as it expects a sequence that has to e.g. be indexable.

Those invocations just happen to work under CPython but probably fail under PyPy 3.

A fix will be out soon.

[2019-08-06 09:20] untitaker commented on #436
Bug reported for PyPy: https://bitbucket.org/pypy/pypy/issues/3050/subprocesspopen-only-accepts-sequences

@lorinkoz @WilliamMayor I would greatly apprechiate if you carry this issue into Django and its extensions, because I lack context there.

[2019-08-06 09:44] #423 closed

[2019-08-06 11:43] WilliamMayor commented on #436
@untitaker Happy to help if I can. Just to check...

The issue is that the upstream projects are passing generators into Popen? Sentry depletes the generators when trying to save the subprocess call's details. So when Popen is called "for real", it's passed an empty generator.

The Python docs say that you shouldn't pass a generator into Popen. So the upstream projects need to update, not Sentry?

[2019-08-06 11:51] untitaker commented on #436
@WilliamMayor to be clear we will fix the SDK to not change the real-world behavior of subprocess. I am just saying that those upstream libraries are *also* broken in the sense that they use the stdlib in an undocumented way and are unlikely to work on PyPy.

[2019-08-06 19:58] Siecje commented on #377
I have tried monkey patching but still I get a log message that is 512 characters.

[code]

[2019-08-07 07:36] #436 closed

[2019-08-07 10:20] untitaker commented on #377
@Siecje seems there's some rotten code in that file, you need to do the same defaults dance for `utils.strip_string`.

I will refactor this to only use one function, and make it so that you only have to set the constant. Sorry for the inconvenience

[2019-08-08 10:06] untitaker commented on #433
Could you elaborate on this? I don't understand the queston

[2019-08-08 16:59] dcramer opened #458 "Annotate @celery.task as spans"
There's a pattern I have commonly that is something like this:

[code]

When looking at a span tree - while understandable - its hard to reason about boundaries. We could provide span wrappers for every task which would actually make this kind of trace much more easily reasoned about.

(This is different than us just instrumenting the outbound .delay/apply_async call)

[2019-08-08 19:32] dcramer opened #459 "Use unparsed query for descriptions from Django ORM"
By using the parsed query we inject params which might be sensitive or PII (which then means we'd have to strip the whole description). Right now we dont have scrubbing on spans, but if it did it would make a bunch of them fairly useless.

I think we should either:

- Change the description to be 100% unparsed (so placeholder variables)
- Change the description to be [statement type] [tables] (SEL

[2019-08-08 19:35] untitaker commented on #459
Sending the query without params is less code than what is happening right now, and I would appreciate it because it makes the job for sqla easier as well. Do you want this behavior for breadcrumbs as well?

[2019-08-08 19:37] dcramer commented on #459
Yeah probably would want to do the same. Its still very high value. For example Atlas has a query which is "WHERE access_token = X" which would fall under our sensitive data concerns, which means we'd have to parse and revoke that bit, or strip the whole query using our standard dumb logic.

[2019-08-08 19:38] untitaker commented on #459
just so I understand you correctly, that means we are going from:

    SELECT * FROM table WHERE x = 123

to:

    SELECT * FROM table where x = %s

for both breadcrumb msgs and span descriptions.

[2019-08-08 19:39] dcramer commented on #459
Yeah that's what I'd prefer. If we have params available, stuff them into the context/extras payload.

[2019-08-09 14:16] untitaker commented on #458
Ah, had to read that twice. Would it make sense to create a new transaction or do you absolutely want this to be just a span?

[2019-08-10 13:17] #441 closed

[2019-08-10 13:18] untitaker commented on #441
@karliy could you try the master branch to see if your issue was fixed?

[2019-08-10 21:19] lukeburden commented on #334
Here's another example of Hub being unexpectedly None - it's happening during a cron-job run. It does look like the SDK is stumbling trying to get traceback details, so there may be an underlying application exception, however I can find no corresponding event in Sentry despite the error stating that there are "0 pending" error messages to send suggesting that it would have been sent.

python 2.7

[2019-08-14 09:09] alexmick opened #469 "Recursive serializer stackoverflow error when serializing an object that logs on iteration"
I'm currently having a problem with the SDKs integrated serialisation of local variables for sending with events.
I have in my local variables, an object that is a `Mapping` but that sometimes raises an event when keys are accessed. This is a normal behavior, since keys are lazy loaded and my code handles these correctly. However, when an event occurs and this variable is serialized for sending to

[2019-08-14 11:03] untitaker commented on #469
Thanks, this will be fixed with #470. All events captured during serialization are disregarded. The logs still show up in breadcrumbs.

There is already a semi-private hook called `global_repr_processors` that you can use to customize serialization of dangerous objects.

[2019-08-14 14:10] #469 closed

[2019-08-14 14:32] karliy commented on #441
fixed,thx😃

[2019-08-14 14:32] untitaker commented on #459
This is done since #462 is merged

[2019-08-14 14:32] #459 closed

[2019-08-16 15:30] oji opened #471 "Celery - Queue object has no attribute 'all_tasks_done'"
Hi all,

I'm integrating Sentry on a project in python that uses Celery. I'm getting this error when shutting down the worker:

[code]

I'm using:
- Python 3.6
- Celery 4.3.0
- OSX Mojave

Any thoughts?

[2019-08-16 15:31] untitaker commented on #471
Hi, are you using eventlet?

On Fri, Aug 16, 2019, 17:30 Javier Ibanez <notifications@github.com> wrote:

[2019-08-16 17:35] oji commented on #471
Yes, I'm using eventlet

[2019-08-16 19:01] untitaker commented on #471
Ok, there's a workaround here: https://github.com/getsentry/sentry-python/issues/273#issuecomment-485670456

I hadn't considered the case of using eventlet within Celery, and it seems that switching to greenlet is not an option there. I'll take a look next week. Thanks!

[2019-08-18 00:51] aveeday opened #472 "AssertionError Need to set transaction when entering span!"
After upgrading from sentry-sdk 0.10.2 to sentry-sdk-0.11.0 I received many errors with next text:
[code]
Sometimes some requests leads to that error, but after repeating the same ones they work without error

asgiref                  3.1.2
channels                 2.2.0
channels-redis           2.4.0
Django                   2.2.4
djangorestframework      3.9.1
psycopg2-binary          2.8.3
redi

[2019-08-18 06:12] untitaker commented on #472
Hi, are you using the ASGI Middleware of the Sentry sdk?

On Sun, Aug 18, 2019, 02:51 Konstantin Nesterenko <notifications@github.com>
wrote:

[2019-08-19 03:26] vzts opened #473 "Event reporting within sub process does not work without time.sleep"
[code]
Without giving sleep, the event reporting is not correctly triggered. Why is this? Is it because the worker thread is a daemon thread? (but I have tried to comment [`self._thread.setDaemon(True)`](https://github.com/getsentry/sentry-python/blob/master/sentry_sdk/worker.py#L66) out, but it still shows the same symptom)

[2019-08-19 07:55] untitaker commented on #473
`multiprocessing` introduces odd interpreter behavior for subprocesses. See #291.

Your best fix is to add `sentry_sdk.Hub.current.flush()` after `capture_exception()`, which ensures that the process sleeps as long as it's necessary to send events out.

For the main process this is done automatically via `atexit`, but those hooks do not run in `multiprocessing`.

[2019-08-19 08:09] vzts commented on #473
@untitaker Thank you for your quick response! (probably the fastest I received in github)
All make sense to me and the flushing did resolve the issue.
Thanks again for the explanation :)

[2019-08-19 08:09] #473 closed

[2019-08-19 10:35] untitaker commented on #472
In any case I converted that assertion into a warning, but I'd like to figure out this issue anyway.

[2019-08-19 11:23] untitaker commented on #473
See this question: https://stackoverflow.com/a/34507557/1544347

It's very unfortunate behavior. We even work around this in the Celery integration, but the fix is Celery-specific (and has to be).

Theoretically you could monkeypatch `os._exit` to make things work "automatically", but that's dangerous.

[2019-08-19 12:02] aveeday commented on #472
I do not use ASGI Middleware.

Tracebacks:
[code]

[code]

[2019-08-20 11:38] yarinb commented on #433
We are facing the exact scenario, with the new Python SDK.
A celery job handles an exception from a thirdparty library, then raises our application exception.
What happens in Sentry is this:
1. One event coming from the logging mechanism, with the thirdparty exception (**mechanism=logging, handled=yes**)
2. Another event for our own exception, with the thirdparty lib exception stacked in, with (**

[2019-08-20 11:43] untitaker commented on #433
Does that mean you are explicitly logging? Where are you logging? In the worker where the exception happened, or somewhere else?

[2019-08-20 11:46] yarinb commented on #433
@untitaker I jumped to conclusions too fast after finding this issue to be exactly what we're experiencing. Looking again at the code, yes. We were explicitly `logging.exception(thirdparty_exception)`. My bad.

[2019-08-20 11:47] untitaker commented on #433
@yarinb that should still not cause duplicate exceptions. If you can't remove this logging call, feel free to open a new issue!

[2019-08-20 11:59] yarinb commented on #433
I can remove the logging call. But If you’d like me to open a new issue and help troubleshoot I’d love to.

Sent via Superhuman iOS ( https://sprh.mn/?vip=yarin@vayo.io )

On Tue, Aug 20 2019 at 2:47 PM, < notifications@github.com > wrote:

[2019-08-20 12:00] untitaker commented on #433
yes please do that

[2019-08-20 13:16] WhyNotHugo commented on #433
So, my celery task throws an exception (exception 1) which celery captures, and re-throws as a new one (exception 2).

It makes sense that "exception 2" gets logged, by why is the first one logged? I though handled exceptions were not logged by default. In other words, this is kind of:

[code]

[2019-08-20 13:20] untitaker commented on #433
We capture celery errors as they occur in tasks. Celery then re-raises the exceptions when you try to get the result of a task.

We capture exception 1 because we cannot be sure that anybody will ever fetch the result of a task.

[2019-08-20 13:26] WhyNotHugo commented on #433
I never try to get the result of the task. I've nothing result-related anywhere.
Are you sure that's actually the case?

[2019-08-20 13:53] untitaker commented on #433
I mean *if* you do that [like here](https://stackoverflow.com/a/30760142/1544347) then I would have an idea what happens (`result.get()` re-raises).

Would you have time to give me a self-contained repro case of some sort?

[2019-08-20 18:10] jbarreneche commented on #331
We are using the latest `sentry-python` version but still having this issue.
We are using `Flask==1.0.3` with the `FlaskIntegration` and verified that the headers are being correctly received by our endpoints via `request.headers.get('X-Forwarded-For')` and `request.environ.get('HTTP_X_FORWARDED_FOR')`.

Any chance something else is filtering the information internally? In the sentry error report

[2019-08-21 06:55] banxi1988 commented on #68
I know it seems not related to this issue.
while since we migrate from raven to sentry-python we begin to got this error:
![image](https://user-images.githubusercontent.com/726774/63409260-693cc300-c423-11e9-8742-812692508b0a.png)

our server env:
runtime: .6.5 (3.6.5 (default, Aug  6 2018, 05:43:44)  [GCC 5.4.0 20160609])
sentry.python: 0.10.2

[2019-08-21 09:19] koleror opened #476 "Cannot use AWS X-Ray with lambda + flask integrations"
I'm trying to migrate from raven to sentry-python, with a stack consisting on a Zappa project to that deploys a lambda running Flask.
Here is the configuration I used with raven:
[code]
Note that I had to use the synchronous RequestsHTTPTransport in order to let the sentry API calls to be done before the lambda shuts down.

Using the new python-sentry, I used the following configuration:
[code]
No

[2019-08-21 09:30] untitaker commented on #476
It seems that X-Ray tries to capture information about the httplib invocation in our transport thread.

Could you try to add this line of code?

[code]

Not sure if it needs to be before or after the middleware.

[2019-08-21 16:25] samuelcolvin commented on #220
In case it's of any interest or help to anyone else, I have a fulling working aiohttp-sentry integration implemented as middleware, see [here](https://github.com/samuelcolvin/aiohttp-toolbox/blob/02ab51105e59463cde9889db55db53f034f6e5fe/atoolbox/middleware.py#L35-L142).

Also https://github.com/aio-libs/aiohttp/pull/3557 and https://github.com/aio-libs/aiohttp/pull/3767  mean that with aiohttp 4 a

[2019-08-21 21:16] untitaker commented on #220
The integration takes extra precautions to not make scope data leak across request boundaries. Your middleware avoids this issue by assembling the entire event payload before calling `capture_event`, but this means that custom calls to `capture_*` will not have request data.

I would really like the work for request bodies to land in the SDK, but possibly hidden behind an option (kwarg to the inte

[2019-08-21 21:41] untitaker commented on #472
@aveeday your issue should be "fixed" with 0.11.1.

[2019-08-21 21:41] #472 closed

[2019-08-23 17:37] phihag opened #479 "Large variables hide small ones in stackframes"
If a stackframe contains a variable with a large value, then the other variables with smaller values will not get reported. Take the following example:
[code]

It seems to depend on some implementation details, but with Python 3.6.5 on my system, this will report `a`, `b`, and a part of `large`:

![image](https://user-images.githubusercontent.com/779568/63610046-bc0bab80-c5d8-11e9-9cb0-d1b24875ce6

[2019-08-24 11:20] darahsten opened #480 "logger.exception does not send error to sentry with new sdk django integration"
When sentry is configured with the new sdk in the default format in this format.
[code]

logs are not sent when `logger.exception` is called. The only way to get logs to captured by
sentry is to use `capture_exception` or to do customised logging as suggested in the post [https://github.com/getsentry/sentry-python/issues/365](Issue) #Not tested it my self.

This implies that one has to replace all

[2019-08-24 16:17] untitaker commented on #480
Please add debug=True to your call of init to see what goes wrong. This is
supposed to work

On Sat, Aug 24, 2019, 13:20 Stephen Odara <notifications@github.com> wrote:

[2019-08-25 12:41] darahsten commented on #480
@untitaker , When one adds `debug=True`, the sentry error is logged. When `debug=True` is removed the error is not logged.
[code]

[2019-08-25 13:23] darahsten commented on #480
![image](https://user-images.githubusercontent.com/7501274/63650510-8f2bd580-c74b-11e9-93de-dc7200fe8d05.png)
@untitaker , I can no longer replicate the failure to log errors after inserting and removing `debut=True.` The apparent failure to log mentioned above is (was) due to the delay of sentry to capture the event as the event eventually appears in the sentry-console after about two minutes.

T

[2019-08-26 14:23] WhyNotHugo opened #481 "Django mechanism should not log PermissionDenied"
Raising `PermissionDenied` in django is a shortcut to returning 403.

This shouldn't be logged by default, since it's normal behaviour. It [does](https://sentry.io/organizations/hobarrera/issues/1163570899/?project=124552&referrer=RegressionActivityEmail) get logged however.

Also, my event has no `logger`, so I'm not even sure how to manually ignore it.

[2019-08-26 17:25] untitaker commented on #481
We are only listening on https://docs.djangoproject.com/en/2.2/ref/signals/#got-request-exception and in a regular application this signal doesn't fire on 403s. Here is the code that shortcuts for PermissionDenied: https://github.com/django/django/blob/03dbdfd9bbbbd0b0172aad648c6bbe3f39541137/django/core/handlers/exception.py#L49-L55

Two possibilities come to mind:

1. You have another exception

[2019-08-26 17:31] untitaker commented on #479
Yes this is a serverside bug, it just mainfests differently because variables are shown in a different order (although I believe the order is not necessarily preserved on the server too).

I will take a look next week, thanks!

[2019-08-27 00:00] bsergean opened #483 "Integration for websockets based servers"
I am using the awesome [websockets](https://websockets.readthedocs.io/en/stable/) library for my [messaging thing](https://github.com/machinezone/cobra) and I wonder what kind of default integrations could be made.

I know that you guys support ASGI / Starlette, and those seem to be compatible with websocket servers, so I'm curious about the kind of goodness you can add there.

(Essentially one pr

[2019-08-27 12:02] untitaker commented on #480
@darahsten this is undesirable but not unheard of. Sometimes we get a load spike on sentry.io and have to go through a backlog of events to process and store.

[2019-08-27 12:02] #480 closed

[2019-08-27 13:15] Birne94 opened #485 "redis integration creates incomplete/empty breadcrumbs"
When using the [redis integration](https://docs.sentry.io/platforms/python/redis/) (sentry-sdk 0.11.1), we are not seeing the executed query in the breadcrumbs. Instead, some of the entries are empty, some only contain the accessed key (commands executed are `SET`, `EVALSHA` and `SET` again):

<img width="803" alt="Screen Shot 2019-08-27 at 15 07 59" src="https://user-images.githubusercontent.com/

[2019-08-28 07:38] #273 closed

[2019-08-28 07:38] #471 closed

[2019-08-28 07:52] braunsonm opened #486 "Sentry Handler equivalent from legacy raven"
Hello,

I previously used raven to log deprecation warnings on sentry using a config like so:
[code]

However, the class I used `SentryHandler` no longer exists. Is there an equivalent class? Or perhaps a better way to handle this?

Thank you.

[2019-08-28 07:54] untitaker commented on #486
[code]

[2019-08-28 07:58] untitaker commented on #486
Hi, the same class is in `sentry_sdk.integrations.logging.EventHandler`. It seems the documentation there is currently broken, will fix asap.

Use this class and disable the logging integration:

[code]

Note that we already hook into loggers by default, and the handler should only be necessary if you want to capture a specific logger at a lower level: https://docs.sentry.io/platforms/python/loggi

[2019-08-28 18:01] untitaker commented on #438
I don't have an immediate idea what's wrong. Did you talk to elastic/opbeat
about this too?

On Wed, Aug 28, 2019 at 7:53 PM TeamTeaTime <notifications@github.com>
wrote:

[2019-08-28 18:41] bfontaine opened #487 "#434 breaks on threads where `run` is not a method"
The patching code added in #434 breaks if the `run` attribute on a thread is not a method.

I’m using `sentry-sdk==0.11.1` with Python 3.7.4.

Put the following code in `demo.py`:
[code]

Run `python3 demo.py`:
[code]

Remove Sentry:
[code]
Run it again: `python3 demo.py`
[code]

It runs fine.

----
The issue is that the patching code relies on `self.run.__func__` but [that attribute is only defin

[2019-08-28 18:55] untitaker commented on #487
Hi, thanks for bringing this to our attention. I think I am fine with a patch like that. I would still argue that setting `run` to not be anything else but a method is not "valid usage" as per the Python docs (since they say run is a method).

Even though it happens to only have to be a callable in practice. But what if there were a third-party implementation of Python that relied on `run` being a

[2019-08-28 19:56] bfontaine commented on #487
This patch does exactly that what you describe: it overrides `run` with a function, even if it were a method before. The fix I’m suggesting doesn’t change that, but at least it works if something else patched that method before Sentry.

[2019-08-28 20:05] bfontaine commented on #487
Here is a piece of code that runs fine as-is, but breaks on an `AttributeError` if you use Sentry. That being said, I don’t know how to fix this issue without doing horrible Python sorcery.

[code]

[2019-08-28 20:54] ChaosCA opened #488 "Sentry SDK log user information"
For the Django integration, the SDK should log what user was logged in and their IP. Right now it seems to just log the IP, but the IP is not correct.

The IP that sentry logs is the IP that the server is hosts from, if I log the REMOTE_ADDR from Django I can see it has the correct client IP.

[2019-08-28 20:56] untitaker commented on #488
You need to pass `init(send_default_pii=True)`

[2019-08-28 20:56] #488 closed

[2019-08-29 10:52] msamoylov commented on #438
This is what breaking Sentry, see https://github.com/elastic/apm-agent-python/blob/master/elasticapm/contrib/django/apps.py#L68

[2019-08-29 15:00] harpaj opened #491 "Apache Spark integration"
With the recently released integration for Apache Beam and the general push of [Sentry for Data Pipelines](https://sentry.io/for/data/) - is there an integration of Sentry with Apache Spark (especially with PySpark) planned?

https://github.com/apache/spark/pull/20151 explicitly mentions that one reason for creating that PR was to make a Sentry integration easier. However, I didn't manage to even

[2019-08-29 15:40] untitaker commented on #491
We're looking into this but don't want to give out an ETA :) We've just started market research, so to speak.

[2019-08-29 16:14] claudiu-olteanu-hs opened #492 "RuntimeError and SystemError generated by DjangoIntegration"
Hi there,

After we migrated from raven to sentry-sdk, we started noticing some new errors logged by `uwsgi` server. Most of the time, they are usually generated when the server is under load, so it could be a race condition.

Below you can find some information about our infrastructure:
[code]

The generated errors:
[code]

Some data from Sentry event:
[code]

Code that initialized sentry:
[code]

[2019-08-30 09:19] untitaker commented on #485
hey @Birne94 could you try out https://github.com/getsentry/sentry-python/pull/489? It improves conditions but maybe doesn't fix all redis problems.

[2019-08-30 10:57] untitaker commented on #492
I believe I understand the issue although I am surprised that we haven't found it in our own production use. Does this cause problems such as downtimes or performance impact for you?

[2019-08-30 11:41] claudiu-olteanu-hs commented on #492
Yes, the problem generates some 50X errors for us and we had to rollback to raven.

[2019-08-30 12:12] untitaker commented on #492
Thank you, we will investigate this ASAP

[2019-09-02 08:20] untitaker commented on #483
The biggest problem with async environments is how we propagate execution context (and therefore scope data), which is mostly solved with availability of contextvars in py 3.7.

I would be happy to merge a PR that adds support for a specific library/framework if it's sufficiently popular, but it's also possible to maintain integrations outside of the SDK ([example](https://github.com/jmagnusson/se

[2019-09-02 11:51] kamilglod opened #493 "last_event_id is not cleared after request finish with Flask integration"
I was expecting that `last_event_id` for Flask integration will be assigned to `flask.g` or will have other implementation working in the same way that for another successful request `last_event_id` will be `None`.

Currently after `capture_exception`, `last_event_id` returns the same value regardless of there are any error during the request. Is this an expected behaviour or it is a bug?

[2019-09-02 12:37] untitaker commented on #493
Hi, which version of the SDK is this? And which wsgi server are you using? While we don't use `flask.g` (because `last_event_id` is not Flask-specific) we use something similar so this should not happen.

[2019-09-02 14:39] kamilglod commented on #493
SDK version: 0.11.2
Flask version: 1.0.2
Werkzeug version: 0.15.2

[2019-09-02 14:43] untitaker commented on #493
Are you saying you are seeing this behavior with the development server of
Flask, not gunicorn/uwsgi, etc? I would not be able to reproduce that.

Please tell me exact steps you are taking to reproduce the issue.

On Mon, Sep 2, 2019 at 4:39 PM Kamil Głód <notifications@github.com> wrote:

[2019-09-02 14:57] kamilglod commented on #493
Sure, here is an example:

[code]

And I noticed that when I add `integrations` as described in docs (through constructor instead of assigning to property) it works properly. So it's my fault. Question is: is it possible to assign `integrations` after instance creation? My case is that I have one function that creates sentry objects for different projects (some are flask servers, some are long run

[2019-09-02 15:02] untitaker commented on #493
No that's not possible, and I will make the array private or read only to prevent this mistake. (this is really good feedback) I would enable all integrations in all cases, it does not do any harm.

[2019-09-02 15:07] kamilglod commented on #493
Ok, @untitaker thanks for quick help, I'm closing this issue as resolved

[2019-09-02 15:07] #493 closed

[2019-09-02 20:16] Birne94 commented on #485
@untitaker updating to the latest version fixed the issue and the redis commands are showing up properly. Thank you for the quick response!

[2019-09-02 20:16] #485 closed

[2019-09-03 18:07] neill commented on #125
Are there any updates on supporting this? I'm trying to upgrade from the `raven` package as well and need support for an instance where we use `HTTPTransport` when initializing the raven client, and while the SDK python documentation mentions transports it doesn't have any further detail on usage.

[2019-09-03 20:00] agronick opened #495 "Apparent memory leak with Django integration"
I have a Django Channels application that steadily increases with memory over time. I have mem_top installed and some of my largest objects are lists of `_make_event_processor()` functions. This list is added through  `add_event_processor()` in `Scope`. I can place a print function to print the size of the list in `add_event_processor()` and it just gets larger and larger. I don't see the list bei

[2019-09-03 21:11] untitaker commented on #495
Hi, this is a known issue with channels, the workaround is to apply the ASGI Middleware that we expose explicitly in your asgi.py. We are currently checking whether this could be done automatically but there are not very many places to hook into.

[2019-09-03 21:41] agronick commented on #495
I am using the ASGI middleware. This is my asgi.py:

[code]

[2019-09-04 01:10] agronick commented on #495
Looks like asgi.py was used. I'm not sure why it wasn't working before. I moved the asgi middleware to routing.py but by looking at the code it shouldn't make a difference if it was there or in asgi.py. I'm running with the asgi middleware in routing now and my monkey patch removed. I'll update if the issue is resolved tomorrow.

I can confirm that the issue was resolved with the monkey patch.

[2019-09-04 07:43] untitaker commented on #495
Which module do you point your ASGI server to? That's where the middleware needs to go.

[2019-09-04 07:48] untitaker commented on #495
Oh yeah it can go in routing too. Your `asgi.py` probably only calls `get_default_application()` which reads from `ASGI_APPLICATION` setting, which points into your routing.py.

[2019-09-04 12:33] untitaker commented on #492
@claudiu-olteanu-hs could you post your uWSGI config? I have reason to believe that uWSGI is the culprit here.

[2019-09-04 13:17] claudiu-olteanu-hs commented on #492
You can find below the configuration:
[code]

The `app.wsgy.py` file:
[code]

The django settings file doesn't contain anything special.

[2019-09-05 09:41] untitaker commented on #492
Before we proceed further, could you try updating uwsgi to at least 2.0.18?

[2019-09-05 10:09] champ commented on #175
I'm having the same problem migrating to python sentry SDK from raven on an old Ubuntu server (14.04) having `urllib3` 1.7.1 installed.
Pin-pointing requirement versions is a best practice: the retry logic in `urllib3` was implemented in version 1.9  as seen [here in the changelog](https://github.com/urllib3/urllib3/blob/master/CHANGES.rst#19-2014-07-04). Please consider pin-pointing this version

[2019-09-05 10:32] untitaker commented on #175
Ah, sure, will do. 1.9 is still from 2014 though :)

[2019-09-05 16:47] agronick commented on #495
I have tried it in routing and I have tried it in asgi.py. Doesn't seem to make a difference. After two days of running this is what mem_top is showing as some of my biggest objects:

[code]

On my debug server I can not reproduce. I can see from my print statement under `self._event_processors.append` that the list appears to be cleared normally in debug mode. I never see it get larger than 3 ite

[2019-09-05 16:51] untitaker commented on #495
@agronick i can implement mitigation for this but your real issue is that there is no hub cloned or scope pushed for each request. Each request should get an entirely separate list. This is supposed to happen in the wsgi or ASGI Middleware. Could you dump a stacktrace from within your request handler?

[2019-09-05 16:56] agronick commented on #495
Here is a stack trace from an error in Sentry. Is this what you are looking for? I'm suprised Uvicorn in nowhere in the stack. Maybe it got cut off.

[code]

I am doing a lot of complicated stuff. Lots of asyncio tasks and threads. It could be that something like that causes the bug. Channels does use threads to run things on the database.

[2019-09-05 17:12] untitaker commented on #495
Could you do this as part of logging? I know it's ironic, but the stacktraces in Sentry hide system frames and also *remove* SDK frames to prevent some recursion issues.

`traceback.print_stack` from the stdlib should do the trick.

[2019-09-05 17:15] agronick commented on #495
Here it is from Uvicorn:

[code]

[2019-09-05 17:20] untitaker commented on #495
That's odd, I don't see any common frames between those two stacktraces.

[2019-09-05 17:22] agronick commented on #495
The first one happened to be a streaming request and the second one was a normal request.

[2019-09-05 17:38] agronick commented on #495
I can repro the issue. It appears the issue only happens when I am running Python 3.6 - which I am using in production. Also, more than one request has to be being made at the same time. If the requests happen sequentially nothing happens. I think you guys might be making use of Python 3.7's asyncio context feature? I think I saw that somewhere in the code.

[2019-09-05 17:45] untitaker commented on #495
Yes we absolutely require contextvars! Thanks for that hint, I will check for support when using channels

[2019-09-05 17:46] untitaker commented on #495
There's a backport for 3.6 that we fall back to if it's available.. Aiocontextvars on pypi

[2019-09-05 21:02] chingc commented on #402
I'm on sentry-sdk 0.11.2, and I spent most of the day trying to figure out why the codebase I work on suddenly appear to be 100% error free.  The only change was that I started using `before_send` to filter out some trivial errors.

@untitaker mentioned setting `debug=True` during `init` in the first reply, but it doesn't seem to have any affect.  Exceptions raised anywhere in my codebase gets swa

[2019-09-06 06:10] untitaker commented on #402
@chingc debug=True should help you figure out whether your before-send is crashing, which I assume is the case. It doesn't do anything by itself, you also need to look at stdout/stderr.

[2019-09-06 10:50] claudiu-olteanu-hs commented on #492
Sure, next week I will try to do an update and I will let you know how it goes (if the problem persists).

[2019-09-10 14:20] Avamander opened #499 "Asking for feedback without an exception"
It would be really nice if I could somehow launch the feedback dialogue without providing an event ID. Sometimes one might just want to capture user's problems they encountered.

In addition to that, if Sentry decides to return 403 it would be really nice if it said what the issue was in the console. I provided the DSN and event ID generated by as required it and it just errors out.

[2019-09-13 06:55] untitaker commented on #125
@neill is this for an env that doesn't have threads?

[2019-09-16 18:53] ivancarrancho opened #501 "Create custom tags doesn't work"
Hi, i'm trying to log a new custom tag with the name `project` but in the slack notification just appear the original tags (like logger),

In sentry if I put:
![Sentry](https://user-images.githubusercontent.com/13756563/64977788-b3c22b80-d879-11e9-9f8a-48a91420e8d6.png)

![Slack___capek-dev___Capek___1_nuevo_elemento](https://user-images.githubusercontent.com/13756563/64984881-5504ae00-d889-11e9-8

[2019-09-16 18:54] untitaker commented on #501
where are you actually invoking `configure_scope` and set_tag in your code? Within the view?

[2019-09-16 18:59] ivancarrancho commented on #501
Thanks for answering, is Flask so in the main.py app.

![main_py_—_capek-full-stack](https://user-images.githubusercontent.com/13756563/64985301-2fc46f80-d88a-11e9-8789-b2d30bcbb8eb.png)

[2019-09-16 22:56] ivancarrancho commented on #501
Hi, already find the issue:
In the init function, need to put the `environment`

![image (7)](https://user-images.githubusercontent.com/13756563/64998826-40d1a880-d8ab-11e9-8fc7-165fea1beecc.png)

thanks.

[2019-09-16 22:56] #501 closed

[2019-09-17 13:05] untitaker commented on #495
With https://github.com/getsentry/sentry-python/pull/496 the SDK will refuse to work under Channels 2.0 and Python 3.5/3.6 unless `aiocontextvars` is installed.

[2019-09-17 20:43] bsergean commented on #483
Right now my code requires python-3.7, so I could use contextvars I believe.
I took a look at your 'external' SDK integration. It's good to know that this is possible to integrate that way. I'm not too sure where to start and if I'll have too much time to help ...

The one thing I'm most after now is capturing a User-Agent, to know if a crash we're getting on the websockets python server is say An

[2019-09-17 20:52] bsergean commented on #483
I just did that ... trying to set a scope for the user-agent. Let's see what it does ...

https://github.com/machinezone/cobra/commit/02438836a49b68d8dab1568c2533de8fd314a1f4

[2019-09-17 21:17] bsergean commented on #483
Made that change afterward -> 8834d6cfc84c84315a36f0c1df8aa0621ec66eb6
(to make that variable a context-var ... hopefully it won't trick the sentry sdk ?).

[2019-09-17 21:22] untitaker commented on #483
I don't see that commit, but I believe you want to use `with
Hub(Hub.current)` around the entire thing. Unfortunately we do not know
*when* an async task is considered to run concurrently, so you have to
"fork off" the execution context explicitly.

On Tue, Sep 17, 2019 at 11:17 PM Benjamin Sergeant <notifications@github.com>
wrote:

[2019-09-17 21:31] bsergean commented on #483
I edited the commit link. I'm not too sure on how to use your sample Hub context thing. The problem for us too is that the crash is happening in another coroutine, so what I'm doing might be useless.

I've sent a link to our crash to Ryan Fields btw. I'll ask him to forward it to you if that helps / make some sense.

[2019-09-17 21:33] untitaker commented on #483
You have the following code:

[code]

In async environments it's currently necessary to do:

[code]

Other than that you should be good.

[2019-09-19 15:29] untitaker commented on #125
@neill to be clear, we are collecting data on how many environments this affects. Right now it seems to be only Python Anywhere.

[2019-09-20 08:49] champ opened #504 "Integration support for Django 1.4 broken in version 0.12.0"
Hi,

Support for Django versions 1.4. and 1.5 (at least) using the Django integration was broken in version 0.12.0 .
Example output when using Django `manage.py` in Django 1.4:
[code]
Compatibilitiy can easily be fixed detecting versions prior to Django 1.6 and using `django.core.handlers.base.import_module` instead of `django.core.handlers.base.import_by_path` (used for Django versions prior to 1

[2019-09-20 13:50] Trim21 opened #505 "lifespan protocol not implemented?"
Offical spec https://asgi.readthedocs.io/en/latest/specs/lifespan.html

I'm using uvicorn and fastapi. I originally using [encode/sentry-asgi](https://github.com/encode/sentry-asgi) and these days I found that there is a AsgiMiddleware in sentry-sdk. So i try to start using `sentry_sdk.integrations.asgi.SentryAsgiMiddleware` But I got

[code]
I got this error in asyncio debug mode:
[code]

It's no

[2019-09-20 13:58] untitaker commented on #505
hmm cc @tomchristie.

The middleware in this SDK is a fork of encode/sentry-asgi, with the intent to deprecate sentry-asgi (afaik @tomchristie agreed to this plan). But it seems that both are now maintained?

I would like to keep the one inside the SDK, because I can then build integrations for Channels and other web frameworks on top.

[2019-09-20 14:30] untitaker commented on #505
This seems like a recent regression, and I'll fix that in 0.12.2, sorry about that

[2019-09-20 18:26] MickVermeulen opened #507 "Memory leak when using celery and django with bulk queries"
Hi! Recently I discovered that our celery server kept running out of memory in production. We have a Celery server that fetches ~1.000.000 products from a feed and then bulk-upserts them in batches of 15.000 into our database. As you can imagine, these bulk upsert queries are massive SQL queries: about 15MB each.

For some reason, Django logs these queries, which are then kept in memory by Sentry.

[2019-09-20 18:32] untitaker commented on #507
What version of the sdk is that? We recently released a new version of the SDK that fixes an issue that sounds just like yours (0.12.1)

[2019-09-20 18:34] MickVermeulen commented on #507
We use version `sentry-sdk==0.5.1`, I'll update and look if the issue persists!

[2019-09-20 18:51] MickVermeulen commented on #507
This update seems to have resolved the issue, what a coincidence that this was fixed yesterday. I'll close the thread, thank you very much for the quick help!

[2019-09-20 18:51] #507 closed

[2019-09-22 10:22] #505 closed

[2019-09-22 10:24] untitaker commented on #505
0.12.2 has been released yesterday with the crash fixed

[2019-09-22 10:25] Trim21 commented on #505
@untitaker yeah, I just found that. Thanks for your work.

[2019-09-23 07:04] claudiu-olteanu-hs commented on #492
I wanted to let you know that we upgraded uwsgi to 2.0.18 and we couldn't reproduce the problem so far.

The only new errors that we noticed are:
[code]

But these are caused by a different problem when something fails on the initialization.

[2019-09-23 08:40] untitaker commented on #492
Ah great, we can fix that bug easily at least. From what I understand this is just causing an exception when you're already shutting down/crashing, right?

[2019-09-23 09:00] claudiu-olteanu-hs commented on #492
Yes, the exceptions are raised when we are shutting down/crashing, or when an error occurs on the initialization. But these don't have any impact on our uptime.

[2019-09-23 11:00] heckad opened #508 "Aiohttp integration ignore X-Forwarded-For and X-Real-IP."
In dashboard  `X-Forwarded-For` and `X-Real-IP `is empty. Why?

[2019-09-23 19:24] hyperknot opened #510 "Sentry not logging Gunicorn timeout errors"
We have quite a standard gunicorn setup with the default sync worker with the default 1 thread, running a Python app.

Gunicorn is started with this command line:
[code]

The Python Sentry integration is loaded with the following:
[code]

The issue is that whenever a Gunicorn worker timeout occurs, it is not logged to Sentry.
The only way we can see that there was a timeout is when we see "[CRITIC

[2019-09-23 19:28] untitaker commented on #510
Could you write a python script that contains the same thing as your gunicorn executable, but calls sentry_sdk.init before running gunicorn? Trying to confirm something

[2019-09-23 19:43] untitaker commented on #508
`send_default_pii=True` is the option you need to enable to send user-identifying information to Sentry.

[2019-09-23 20:02] hyperknot commented on #510
This is the gunicorn executable:

[code]

[2019-09-23 20:08] untitaker commented on #510
Yes, could you edit it to call `sentry_sdk.init()` (with your DSN) before it calls `run()`? I believe this could "fix" the problem already.

[2019-09-24 05:41] goodspark opened #511 "Consider logging hierarchy for ignore_logger"
Ref: https://docs.sentry.io/platforms/python/logging/#ignoring-a-logger

I'm trying to ignore a spammy module (in this case "ddtrace.writer"). While setting up my Sentry integration, I decided that I don't care about any error log from the entire module and so I called `ignore_logger("ddtrace")` instead of "ddtrace.writer".

This doesn't work (and looking at the implementation, it's clear why http

[2019-09-24 08:30] untitaker commented on #511
This makes a lot of sense. I'll think about it some more and whether we want to expand API surface to make an opt-in flag or change default behavior.

[2019-09-24 11:25] min0ru opened #512 "Error while formatting traced unicode-encoded sql query"
We are using raw sql query views in our Django 1.9 project. That queries could be unicode objects with unicode symbols in it. Database that is used with project is Oracle Database Standard 12.2.

There is problem with sentry_sdk sql tracer when we are using DjangoIntegration module with our project. It causes our code to fail with error:

(part of related python exception trace)
  File "/srv/app/l

[2019-09-24 11:29] untitaker commented on #438
@msamoylov what do you mean by that? The only way I can see this breaking our instrumentation is if their signal handler raises an exception. Do you see exceptions in your logs coming from Elastic APM?

At this point I believe this is Elastic's bug, not ours.

[2019-09-24 11:31] untitaker commented on #512
@min0ru does it work to remove the `str(..)` wrapping around `sql` in `tracing.py`?

[2019-09-24 11:32] untitaker commented on #512
Also I wonder, does `sql` contain the formatted query or only the prepared statement? It should only contain the prepared statement. If it does it means you have unicode in your tablenames?

[2019-09-24 11:36] msamoylov commented on #438
@untitaker I mean that Elastic is intercepting all exceptions in views and nothing gets to Sentry. We had to ditch Elastic to get Sentry working again.

[2019-09-24 13:13] #508 closed

[2019-09-25 13:55] fgblomqvist opened #514 "Explicit Exception chaining focuses on outer Exception"
If I explicitly chain 2 exceptions:
[code]

The outer exception (in this case: 'Failed to convert file') gets the focus in the Sentry issue (e.g. it decides the title). This is imo incorrect behavior since if issues are grouped by stack trace, you will now have 2 issues with the same title but with different underlying exceptions.

I think the title of the issue should be decided from the innermos

[2019-09-25 14:16] untitaker commented on #514
This is a server side issue independent of Python that has already bitten us in our rust services. Thanks for raising this, I will forward this internally

[2019-09-25 14:26] fgblomqvist commented on #514
Alright thanks. Is there a different issue I can track or will this one be updated once this has been solved? Just want to make sure I know when it does and if any measures are needed by us (e.g. update the grouping rules).

[2019-09-25 14:31] untitaker commented on #514
Grouping should be unaffected imo. I'll update this issue if I have updates!

[2019-09-25 22:03] DrChai opened #515 "running Gunicorn with Django Channels2 installed in library got RuntimeError"
I have one Django project that is running behind Gunicorn(wsgi) and Channels2(asgi) for handling HTTP and WebSocket separately.
Running Gunicorn would raise a [RuntimeError](https://github.com/getsentry/sentry-python/blob/534757568767dca79f623309cf5c529fc505e81e/sentry_sdk/integrations/django/__init__.py#L285https://github.com/getsentry/sentry-python/blob/534757568767dca79f623309cf5c529fc505e81e/s

[2019-09-27 10:55] tomchristie commented on #505
Correct - I'd like to move `encode/sentry-asgi` into archived or something now.

[2019-09-27 12:30] untitaker commented on #505
Thanks! Just wanted to make sure

[2019-09-27 12:30] untitaker commented on #505
@tomchristie is the lifespan thing something you think we could instrument in Sentry somehow?

[2019-09-27 12:42] tomchristie commented on #505
@untitaker I'm not quite sure what that means.

Certainly you could have "shutup" and "shutdown" event types, if that's a thing?

And yes, you could tag any errors that occur during ASGI startup/shutdown messaging against one of those two contexts.

There's also the period in the lifespan context between startup/shutdown, which app frameworks might start using for lightweight clock events, without

[2019-09-27 12:54] untitaker commented on #505
Nevermind my question, I looked into lifespans and now I believe my
question doesn't make sense.

On Fri, Sep 27, 2019, 14:42 Tom Christie <notifications@github.com> wrote:

[2019-09-27 19:04] untitaker commented on #487
@fl4p could you check whether #516 works for you? I believe it should at least stop breaking your code, but I wonder if you see any errors even if you run with `init(debug=True)`

[2019-09-28 13:36] untitaker commented on #515
I believe you are calling `gevent.monkey.patch_all()` even for your websockets server, is that correct?

[2019-10-01 02:07] DrChai commented on #515
@untitaker No, i just run Gunicorn with gevent worker class regularly:
` gunicorn -c gunicorn_config.py myapp.wsgi`
and gunicorn_config.py:
`workers = 2
timeout = 30
worker_class = 'gevent'
max_requests = 1000
loglevel = 'info'
bind = "0.0.0.0:8000"`

[2019-10-01 04:13] bsergean commented on #483
Got it. I've just implemented this, hopefully I'll get some interesting info soon.

[2019-10-01 08:50] untitaker commented on #515
Yes, for your regular HTTP requests, but what thing serves your websocket requests?

[2019-10-01 09:07] untitaker commented on #515
Concretely, are you using Daphne or some other ASGI server to serve websockets?

[2019-10-01 11:46] untitaker commented on #228
This seems to be related, somebody posted a processor there: https://github.com/hynek/structlog/issues/193

I haven't looked at it yet.

[2019-10-01 12:28] untitaker commented on #228
@Keramblock @techdragon I would recommend trying out https://github.com/kiwicom/structlog-sentry, based on the experiences with that I believe we could figure out a general solution.

[2019-10-01 21:24] untitaker commented on #495
@agronick could you try the latest version of the SDK?

[2019-10-01 23:24] lobsterkatie opened #520 "`start_span` in `hub.py` isn't thread safe"
A customer reports:

Using `sentry.python 0.12.2` in a Turbogears application
Config:
[code]

[2019-10-02 00:06] DrChai commented on #515
@untitaker yes, using Gunicorn for Http request and using Daphne(Channels2) for Websocket requests. Those two services run from the same Docker image, that is, two commands with the same env, libraries, and Django code. No error detected from the daphne service.

I guess i have to use two different Dockerfile for Daphne and Gunicorn, explicitly exclude channels library from my Gunicorn's Dockerfil

[2019-10-02 00:08] untitaker commented on #515
That's not necessary, although it probably would solve the problem! Do you
import gevent anywhere in your code explicitly?

On Wed, Oct 2, 2019, 02:06 Haolun Chai <notifications@github.com> wrote:

[2019-10-02 00:11] DrChai commented on #515
@untitaker, No never import gevent in my code

[2019-10-02 00:17] untitaker commented on #515
Can you tell me the value of _is_threading_local_monkey_patched
In the process where channels runs? For some reason the sdk believes
contextvars are not safe to use, and it seems either eventlet or gevent
claims to have patched threading. So something must have called
gevent.monkey.patch_all (since eventlet is entirely absent)

On Wed, Oct 2, 2019, 02:11 Haolun Chai <notifications@github.com> wrot

[2019-10-02 00:20] agronick commented on #495
I'm at a new job where we don't use Sentry. :(

Installing aiocontextvars fixed the issue though before I left.

On Tue, Oct 1, 2019 at 5:24 PM Markus Unterwaditzer <
notifications@github.com> wrote:

[2019-10-02 12:11] DrChai commented on #515
@untitaker By interrupting the process of the service, _is_threading_local_monkey_patched returns True.
now i can successfully reproduce this error on an empty Django project created by django-admin. Here is relative packages installed:
[code]
just running Gunicorn with the command:
`gunicorn -b 0.0.0.0:8000 -w 1 -k gevent porject.wsgi`

[2019-10-02 13:03] untitaker commented on #515
Oh, sorry! I understand now. I thought it was Daphne that was crashing. But it's gunicorn, which makes sense. Will fix this week.

In the meantime please downgrade the SDK to 0.11

[2019-10-02 13:47] #515 closed

[2019-10-02 13:48] #512 closed

[2019-10-02 13:52] untitaker commented on #512
This will be fixed in 0.12.3

[2019-10-02 13:52] untitaker commented on #515
This will be fixed in 0.12.3

[2019-10-02 13:53] untitaker commented on #504
Unless there is large demand for 1.4 support I am closing this.

[2019-10-02 13:53] #504 closed

[2019-10-02 13:53] untitaker commented on #487
A workaround for this is included in 0.12.3

[2019-10-02 13:53] #487 closed

[2019-10-02 20:51] OskarPersson opened #524 "Request body not available when sending integer"
I'm using sentry-sdk 0.12.3 together with Django 2.2.6 and Django Rest Framework 3.10.3. I have a reproducible error in one of my views which basically looks like this:

[code]

If I make the following request

[code]

The expected issue is reported and the sentry displays the request body as "bar".

If I instead send an integer like this

[code]

then the issue is still reported but no body is di

[2019-10-04 21:01] kingbuzzman opened #525 "SuspiciousOperation being ignored and still showing up"
Using sentry-sdk==0.11.2

[code]

How to reproduce:

modify `.../site-packages/django/contrib/sessions/middleware.py` ~line 59

[code]

to

[code]

and log in.

[2019-10-04 21:45] untitaker commented on #525
"django.security.DisallowedHost" is a logger, the exception (which doesn't
seem to be an issue here) lives under a different module.

Just call ignore_logger() with that logger name.

https://docs.sentry.io/platforms/python/logging/

On Fri, Oct 4, 2019, 23:01 Javier Buzzi <notifications@github.com> wrote:

[2019-10-07 14:50] untitaker commented on #524
How does the JSON payload received by Sentry look like for the `request` field?

<img width="445" alt="Screenshot 2019-10-07 at 16 50 16" src="https://user-images.githubusercontent.com/837573/66322528-90434b80-e922-11e9-9d32-09a20779fd2f.png">

[2019-10-07 18:42] OskarPersson commented on #524
Thank you for taking the time to help me, I realize how weird this issue sounds

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2019-10-07 18:49] untitaker commented on #524
From your examples I get that even JSON strings that are parseable as
integers are omitted. Is that correct?

Could you ensure that the data attribute on DRF's request does actually
work correctly? That's where we take the payload from.

On Mon, Oct 7, 2019, 20:42 Oskar Persson <notifications@github.com> wrote:

[2019-10-07 19:10] OskarPersson commented on #524
integers are omitted. Is that correct?

That is correct, I discovered that just now when I wrote these examples

work correctly?

Running `print(request.data)` I always get the data I expect. On the next line I run `print(request.data.get('foo'))` which gives me the error creating the Sentry issue

[2019-10-08 08:00] untitaker commented on #524
@OskarPersson could you also check what the SDK outputs when running with `init(debug=True)`? Just to get a rough feel of where the data is lost.

Also another silly idea, could you try if `"-123"` is lost? I.e. a negative integer that is sent as a JSON string.

[2019-10-08 08:21] OskarPersson commented on #524
This is all I get when enabling `debug`:
[code]

I tried `"-123"` and it also does not include the `body` in the created issue

[2019-10-08 08:30] untitaker commented on #524
Okay... could you initialize with:

[code]

Now you should see the event for sure

[2019-10-08 11:40] OskarPersson commented on #524
`event['request']['data']` is correct for both `"asd"` and `123`

[2019-10-08 19:30] zackmdavis opened #526 "sqlalchemy integration not working"
The Sentry webapp [recommended enabling the sqlalchemy integration](https://docs.sentry.io/platforms/python/sqlalchemy/), and I was eager to try it out, but it makes a bunch of our unit tests fail like this in [`_after_cursor_execute`](https://github.com/getsentry/sentry-python/blob/911b89e56348c890f55502e68bdb2a7fcd01b769/sentry_sdk/integrations/sqlalchemy.py#L63):

[code]

Some sort of [threadin

[2019-10-09 06:42] #520 closed

[2019-10-09 08:26] untitaker commented on #511
fwiw I believe we want to have an opt-in flag for this.

[2019-10-09 08:37] untitaker commented on #524
Okay, so it's still correct on the SDK side, which means the server had to have discarded it. Could you link an issue that is missing the request data?

[2019-10-09 23:59] johnyoonh commented on #227
I am using Django and zappa seems to be working fine for me using sentry_sdk. I switched from raven setup because it didn't work for me.

[2019-10-10 21:23] chicks-net opened #528 "Invalid project in DSN 2019"
I'm trying to run the sample code to get started with Sentry in Python, but even with just calling `init()` I get `sentry_sdk.utils.BadDsn: Invalid project in DSN ('Internal')`.  In looking at the code it seems this field is expected to be numeric, but with Sentry 8.21 I have named non-numeric projects.  I also get this error when I try a non-Internal project: `sentry_sdk.utils.BadDsn: Invalid pro

[2019-10-10 21:32] untitaker commented on #528
I strongly recommend updating to the latest version of Sentry (9.1.2). I don't know what the issue is with Sentry 8, but it seems you're passing something that is not a DSN at all into the SDK.

[2019-10-10 21:32] #528 closed

[2019-10-10 21:44] chicks-net commented on #528
So projects can be non-numeric?

[2019-10-10 21:49] untitaker commented on #528
@chicks-net The DSN contains the numeric project ID and some credential (public key, optionally secret key). I honestly don't know where you can find the DSN for your project in Sentry 8.

[2019-10-10 22:07] untitaker commented on #526
Thanks for reporting this, this is a bug on our side. Do you do anything special with the connection though, like sharing it across threads?

[2019-10-10 23:05] zackmdavis commented on #526
Yes, we do a few tasks in a separate thread with this helper (where `session` is an imported [`scoped_session`](https://docs.sqlalchemy.org/en/13/orm/contextual.html)):

[code]

[2019-10-11 09:41] untitaker commented on #526
I believe you're using the sqlalchemy connection object in a non-threadsafe way... somehow. I can't tell how though.

Could you ensure that you're on the latest version of the SDK? Some of the frames in your stacktrace don't exist in that form anymore.

[2019-10-11 20:12] #220 closed

[2019-10-14 07:14] OskarPersson commented on #524
No sorry I can't, this is on a on-premise instance of Sentry

[2019-10-14 08:13] untitaker commented on #524
What version of onprem do you have? Could you try on sentry.io?

[2019-10-14 11:47] #492 closed

[2019-10-14 18:14] AbhiPrasad commented on #491
Hey @harpaj! We have PR open for a WIP PySpark integration - https://github.com/getsentry/sentry-python/pull/519.

We would love to get some early feedback and thoughts on the Spark integration, please reach out to me at aprasad@sentry.io if you are interested! It would be great to hear how you are using Spark (and how Sentry can best help!).

[2019-10-15 14:05] ChristopherGSB opened #531 "More information about PII"
Hello,

I'm trying to track down what the default `False` value of the `send-default-pii` parameter screens: https://docs.sentry.io/error-reporting/configuration/?platform=python#send-default-pii

Is it the same as described for "server side scrubbing" on this page? https://docs.sentry.io/data-management/sensitive-data/

The docs don't seem to ever explicitly list out what is removed, nor do they

[2019-10-16 06:59] untitaker commented on #531
@ChristopherGSB we do not strip creditcards within the SDK. `send_default_pii` is only there to disable the *intentional* sending of PII, most specifically you will not get a user ID or cookies attached to your events if it's false (default).

See also https://github.com/getsentry/sentry-docs/issues/1240

[2019-10-17 12:28] abkiran opened #534 "How do I send a manual exception in python?"
When I'm using a try-catch block, when it fails in the try, I want manual send the exception info using sentry.

Exactly like this in Java
https://docs.sentry.io/clients/java/usage/

[code]

[2019-10-17 19:04] kingbuzzman commented on #525
You are correct. Thank you!

[2019-10-17 19:04] #525 closed

[2019-10-17 20:06] untitaker commented on #534
https://docs.sentry.io/platforms/python/#capturing-errors

[2019-10-17 20:06] #534 closed

[2019-10-17 21:57] AbhiPrasad commented on #491
The Spark integration is live - https://docs.sentry.io/platforms/python/pyspark/

[2019-10-17 21:57] #491 closed

[2019-10-19 12:54] ruzhnikov opened #536 "upgrade minimal required version of urllib3"
It's needed to upgrade minimal required version of urllib3 at least to 1.10, because on version 1.9.1 it doesn't work(see below).

I tested on Debian 8 with python 3.4. By default, from DEB packages version urllib3-1.9.1 installed. So, I tried to init sentry and capture exception:
[code]
Ok, doesn't work. Let's try to use next version of urllib3:
[code]

Works perfectly! Please, do changes in your

[2019-10-19 13:27] #536 closed

[2019-10-19 13:28] untitaker commented on #536
That's embarrassing! Fixed.

[2019-10-21 08:36] nijel opened #537 "Bring back support for including stacktrace"
Raven had support for including stacktrace from logging by passing `stack` parameter. In sentry_sdk it accepts only boolean and it's not useful in case when logging includes stack trace from other thread.

This is approach used by [dogslow](https://pypi.org/project/dogslow/) to report slow requests. It worked fine with raven but with sentry_sdk the stacktraces are gone, making the reports pretty m

[2019-10-21 08:37] untitaker commented on #537
you can pass `exc_info=True` for non-exception logs to attach a stacktrace. Hope that helps

[2019-10-21 08:41] nijel commented on #537
That includes stacktrace from the current thread, what is not helpful at all in this case.

[2019-10-21 08:47] untitaker commented on #537
Ah, I see what dogslow does now. So to be clear, we do not want to bring back the logging parameter specifically, for the reasons listed here: https://github.com/getsentry/sentry-php/pull/844#issuecomment-510120197

I believe we should have an API for sending arbitrary stacktraces. Since dogslow already had raven-specific integration I believe it would be ok if the solution includes changes in dog

[2019-10-21 09:38] nijel commented on #537
Yes, that should not be a problem (I'm not sure how much actively maintained the code currently is, but in worst case I can fork it).

What would be even better is ability to use also scope the from other thread, so that all request related data is collected as well.

[2019-10-22 11:06] kurama-cube opened #538 "Problem with sending data with exceptions on Sentry"
Hi there.
I have a problem with python Sentry SDK
When I want to capture an exception with the capture_exception method,  I set a context with set_context and pass all the extra data to it as a dict and in the sentry web panel, I can't find fields which have None values or in some exceptions, some fields are missing, Sentry will remove these fields. how can I send a JSON object with an exception?

[2019-10-22 11:23] untitaker commented on #538
@kurama-cube please use the forum as discussed in https://github.com/getsentry/sentry/issues/15215

[2019-10-22 11:23] #538 closed

[2019-10-22 15:06] untitaker commented on #537
This is really tricky. If you have control over that thread you're monitoring you could take `Hub.current` in that thread and pass it off to your monitoring thread. Then you can call `hub.capture_event()` on it and all scope data will be included.

The stacktrace thing is tricky though. We have a bunch of stuff in `sentry_sdk.utils` that you could already cobble together (already used by the loggi

[2019-10-23 00:56] schinckel commented on #504
I believe this release breaks Django 1.11 also.

I get a slightly different error:

    AttributeError: 'method-wrapper' object has no attribute '__module__'
      File "django/core/handlers/exception.py", line 41, in inner
        response = get_response(request)
      File "functools.py", line 33, in update_wrapper
        setattr(wrapper, attr, getattr(wrapped, attr))

Downgrading to 0.11.2 fix

[2019-10-23 00:59] schinckel opened #539 "0.12.0 breaks Django function-based middleware"
Similar to #504, but a different stack trace:

    AttributeError: 'method-wrapper' object has no attribute '__module__'
      File "django/core/handlers/exception.py", line 41, in inner
        response = get_response(request)
      File "functools.py", line 33, in update_wrapper
        setattr(wrapper, attr, getattr(wrapped, attr))

According to sentry (kind-of neat how I get this in this case.

[2019-10-23 07:11] untitaker commented on #539
I am highly confused, such a class does not exist, so I believe the repr is buggy because of our monkeypatch. Could you figure out where AuditMiddleware really comes from? There must be something peculiar about it that makes our monkeypatch break the world.

[2019-10-23 08:52] schinckel commented on #539
Ah, I do have an AuditMiddleware installed.

I am running some tests to see if this is triggered by the middleware span stuff, but I need to wait until tomorrow to get it onto our staging environment.